:root {
  --pageBg: #F2F6FE;
  --contentBg: #F2F6FE;
  --darkBg: linear-gradient(0deg, #4D4D61 19.04%, rgba(77, 77, 97, 0.00) 52.76%);
  --darkenBg: #1E1E2B;
  --text: #4D4D61;
  --accent: #007879;
  --accentY: #FFC431;
  --accentShadow:  0px 20px 30px -20px rgba(0, 10, 255, 0.68);
  --pageYpd: 20px;
}