include ../../components/nice-select/nice-select
include ../../components/btn/btn
include ../../components/txt-btn/txt-btn




.mobile-menu 

  button.close-menu(type="button" aria-label="Закрыть меню")
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
      <path d="M13 1L1 13M1 1L13 13" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>


  .main-footer__content
    .main-footer__content-inner 
        .col 
          .logo 
            a(href="#")
              img(src="img/svg/logo-green.svg" alt="#" width="124.67" height="28.656")

        .col.col-menu 
          ul.footer-list 
            li 
              a(href="#") Рекламодателям
            li 
              a(href="#") Правила размещения объявлений
            li 
              a(href="#") Пользовательское соглашение
            li 
              a(href="#") Карта сайта  

        .col.col-menu 
          ul.footer-list.footer-list--bold 
            li 
                a(href="#") Акции    
            li 
                a(href="#") Топливо     
            li 
                a(href="#") Реклама     
            li 
                a(href="#") Блог    
            li 
                a(href="#") Акции          

        .col 
          +btn-button
            | Добавить компанию      


  .main-footer__bottom 
    .container 
        .main-footer__bottom-inner 
          .main-footer__bottom-actions
            +nice-select('geo-select x3 white toTop', 'geo-footer')
              option Актау
              option Актобе
              option Атырау
              option Караганда
              option Кокшетау
              option Костанай
              option Кызылорда
              option Павлодар
              option Петропавловск
              option Семе
              option Талдыкорган
              option Тараз
              option Туркестан
              option Уральск 
              option Усть-Каменогорск
              option Актау
              option Актобе
              option Атырау
              option Караганда
              option Кокшетау
              option Костанай
              option Кызылорда
              option Павлодар
              option Петропавловск
              option Семе
              option Талдыкорган
              option Тараз
              option Туркестан
              option Уральск 
              option(selected) Усть-Каменогорск
              option Актау
              option Актобе
              option Атырау
              option Караганда
              option Кокшетау
              option Костанай
              option Кызылорда
              option Павлодар
              option Петропавловск
              option Семе
              option Талдыкорган
              option Тараз
              option Туркестан
              option Уральск 
              option Усть-Каменогорск
              option Актау
              option Актобе
              option Атырау
              option Караганда
              option Кокшетау
              option Костанай
              option Кызылорда
              option Павлодар
              option Петропавловск
              option Семе
              option Талдыкорган
              option Тараз
              option Туркестан
              option Уральск 
              option Усть-Каменогорск
              
            +nice-select('lang-select white toTop', 'lang-footer')
              option(value="RU") RU 
              option(value="KAZ") KAZ
              option(value="EN") EN

    


header.main-header-wrap 
  .main-header 
    .container 
      .main-header__inner 
        a.logo(href="/")
          img(src="img/svg/logo.svg", alt="#" width="112.773" height="26.195") 
          img(src="img/svg/logomob.svg", alt="#").mob

        +nice-select('geo-select x3', 'geo')
          option Актау
          option Актобе
          option Атырау
          option Караганда
          option Кокшетау
          option Костанай
          option Кызылорда
          option Павлодар
          option Петропавловск
          option Семе
          option Талдыкорган
          option Тараз
          option Туркестан
          option Уральск 
          option Усть-Каменогорск
          option Актау
          option Актобе
          option Атырау
          option Караганда
          option Кокшетау
          option Костанай
          option Кызылорда
          option Павлодар
          option Петропавловск
          option Семе
          option Талдыкорган
          option Тараз
          option Туркестан
          option Уральск 
          option(selected) Усть-Каменогорск
          option Актау
          option Актобе
          option Атырау
          option Караганда
          option Кокшетау
          option Костанай
          option Кызылорда
          option Павлодар
          option Петропавловск
          option Семе
          option Талдыкорган
          option Тараз
          option Туркестан
          option Уральск 
          option Усть-Каменогорск
          option Актау
          option Актобе
          option Атырау
          option Караганда
          option Кокшетау
          option Костанай
          option Кызылорда
          option Павлодар
          option Петропавловск
          option Семе
          option Талдыкорган
          option Тараз
          option Туркестан
          option Уральск 
          option Усть-Каменогорск

        .main-header__actions 
          button(type="button").services-btn.js-show-catalog
            | Услуги 

          include ../../components/search/search

          +btn-link('add-company', '#')
            | Добавить компанию

          button.search-btn(type="button" aria-label="Открыть поиск")
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
              <path d="M11.4586 11.0193L8.84054 8.29639C9.51367 7.49619 9.88249 6.48938 9.88249 5.44125C9.88249 2.99238 7.89011 1 5.44125 1C2.99238 1 1 2.99238 1 5.44125C1 7.89011 2.99238 9.88249 5.44125 9.88249C6.36058 9.88249 7.23667 9.6052 7.98569 9.07882L10.6236 11.8224C10.7339 11.9369 10.8822 12 11.0411 12C11.1915 12 11.3342 11.9426 11.4425 11.8384C11.6727 11.6169 11.68 11.2496 11.4586 11.0193ZM5.44125 2.15859C7.25134 2.15859 8.72391 3.63115 8.72391 5.44125C8.72391 7.25134 7.25134 8.72391 5.44125 8.72391C3.63115 8.72391 2.15859 7.25134 2.15859 5.44125C2.15859 3.63115 3.63115 2.15859 5.44125 2.15859Z" fill="#007879" stroke="white"/>
            </svg> 

          include ../../components/cabinet/cabinet

          button.burger-menu(type="button" aria-label="Открыть меню") 
            span 
            span 

  nav.nav-row
    .container
      .nav-row__inner
        button(type="button").catalog-button.js-show-catalog
          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="13" viewBox="0 0 19 13" fill="none">
            <path d="M18.7319 7.18398C18.5911 5.60402 18.3593 5.29632 18.2717 5.18059C18.0703 4.91316 17.7481 4.73839 17.4072 4.55502C17.3879 4.54482 17.3713 4.53029 17.3586 4.51256C17.3459 4.49483 17.3375 4.47439 17.334 4.45285C17.3306 4.43132 17.3322 4.40928 17.3387 4.38847C17.3452 4.36765 17.3565 4.34865 17.3716 4.33294C17.4348 4.26891 17.4833 4.19196 17.5139 4.10739C17.5444 4.02283 17.5563 3.93264 17.5487 3.84304C17.534 3.68415 17.4602 3.53658 17.3417 3.42962C17.2233 3.32265 17.0691 3.26409 16.9095 3.26556H16.2996C16.2734 3.26571 16.2473 3.26741 16.2214 3.27064C16.2036 3.26292 16.1851 3.25677 16.1662 3.25226C15.805 2.48867 15.3104 1.44319 14.2852 0.932954C12.7647 0.176793 9.96368 0.137695 9.41631 0.137695C8.86893 0.137695 6.06793 0.176793 4.54936 0.931781C3.5242 1.44201 3.02961 2.4875 2.66834 3.25109L2.66521 3.25735C2.64719 3.25988 2.6295 3.26434 2.61243 3.27064C2.58648 3.26741 2.56037 3.26571 2.53423 3.26556H1.92312C1.76356 3.26409 1.60928 3.32265 1.49087 3.42962C1.37246 3.53658 1.29857 3.68415 1.28387 3.84304C1.27692 3.93243 1.28936 4.02227 1.32034 4.10642C1.35131 4.19057 1.40008 4.26703 1.46333 4.33059C1.47846 4.3463 1.48973 4.36531 1.49626 4.38612C1.50279 4.40693 1.50439 4.42897 1.50094 4.45051C1.49749 4.47204 1.48908 4.49248 1.47638 4.51021C1.46368 4.52794 1.44703 4.54248 1.42775 4.55267C1.08681 4.73721 0.763079 4.91198 0.563287 5.17824C0.475707 5.29554 0.244246 5.60168 0.103101 7.18164C0.0249043 8.07073 0.0131748 8.99111 0.0745591 9.58383C0.203192 10.8154 0.444429 11.5599 0.454594 11.5907C0.491612 11.7031 0.559753 11.8027 0.651106 11.878C0.742459 11.9532 0.853276 12.001 0.970691 12.0157V12.0236C0.970691 12.1895 1.0366 12.3486 1.15392 12.4659C1.27123 12.5832 1.43035 12.6491 1.59626 12.6491H3.78577C3.95168 12.6491 4.1108 12.5832 4.22811 12.4659C4.34543 12.3486 4.41134 12.1895 4.41134 12.0236C4.74797 12.0236 4.98217 11.9634 5.23045 11.8992C5.58889 11.8026 5.95528 11.7384 6.3252 11.7073C7.51809 11.5935 8.70433 11.5544 9.41631 11.5544C10.1138 11.5544 11.3525 11.5935 12.5473 11.7073C12.9187 11.7385 13.2865 11.803 13.6463 11.9C13.8841 11.961 14.1097 12.0173 14.4221 12.0232C14.4221 12.1891 14.488 12.3482 14.6053 12.4655C14.7226 12.5828 14.8817 12.6487 15.0476 12.6487H17.2371C17.403 12.6487 17.5622 12.5828 17.6795 12.4655C17.7968 12.3482 17.8627 12.1891 17.8627 12.0232V12.0185C17.9804 12.004 18.0915 11.9563 18.1832 11.8811C18.2749 11.8059 18.3432 11.7061 18.3804 11.5935C18.3905 11.5626 18.6318 10.8182 18.7604 9.58657C18.8218 8.99345 18.8108 8.07464 18.7319 7.18398ZM3.79906 3.78595C4.11185 3.12128 4.46959 2.36903 5.10651 2.05195C6.02688 1.59371 7.93448 1.38728 9.41631 1.38728C10.8981 1.38728 12.8057 1.59215 13.7261 2.05195C14.363 2.36903 14.7192 3.12167 15.0336 3.78595L15.0727 3.8708C15.0955 3.9191 15.1056 3.97245 15.102 4.02577C15.0984 4.07908 15.0812 4.13058 15.052 4.17536C15.0228 4.22013 14.9827 4.25669 14.9354 4.28154C14.8881 4.30638 14.8352 4.3187 14.7818 4.3173C13.4825 4.28211 10.7456 4.16951 9.41631 4.16951C8.08697 4.16951 5.35009 4.28485 4.0489 4.32004C3.99548 4.32143 3.94259 4.30912 3.89528 4.28427C3.84797 4.25943 3.80781 4.22287 3.77864 4.1781C3.74947 4.13332 3.73226 4.08182 3.72865 4.0285C3.72504 3.97519 3.73514 3.92183 3.75801 3.87353C3.77169 3.8446 3.78616 3.81528 3.79906 3.78595ZM4.2655 6.89935C3.59294 6.9803 2.91607 7.02025 2.23865 7.01899C1.82421 7.01899 1.39686 6.90169 1.31749 6.53261C1.26315 6.28433 1.26901 6.14475 1.29833 6.00439C1.32297 5.88514 1.36206 5.79834 1.55756 5.76784C2.06583 5.68965 2.35008 5.78778 3.18209 6.03293C3.73377 6.19519 4.13179 6.4114 4.35856 6.58265C4.47233 6.6671 4.41173 6.88762 4.2655 6.89935ZM12.9211 10.1054C12.4065 10.1641 11.3775 10.1425 9.42803 10.1425C7.4786 10.1425 6.44992 10.1641 5.93539 10.1054C5.40443 10.0464 4.72764 9.54434 5.18978 9.09706C5.49749 8.80226 6.21533 8.58175 7.17128 8.4578C8.12724 8.33386 8.5319 8.27013 9.42413 8.27013C10.3163 8.27013 10.68 8.30923 11.677 8.4582C12.674 8.60716 13.4274 8.83041 13.6585 9.09745C14.0799 9.57602 13.4516 10.0432 12.9211 10.1078V10.1054ZM17.5151 6.53222C17.4369 6.90287 17.0068 7.0186 16.594 7.0186C15.9036 7.01876 15.2138 6.97881 14.528 6.89896C14.4084 6.88762 14.3529 6.67766 14.4741 6.58226C14.6973 6.40671 15.0996 6.1948 15.6505 6.03254C16.4825 5.78739 16.9623 5.68926 17.3744 5.77097C17.4748 5.79091 17.528 5.89882 17.5343 5.96646C17.5619 6.1548 17.5554 6.34656 17.5151 6.53261V6.53222Z" fill="#23262F"/>
          </svg>
          span Каталог услуг 
          <svg class="catalog-button__arrow" xmlns="http://www.w3.org/2000/svg" width="9" height="6" viewBox="0 0 9 6" fill="none">
            <path d="M1.84399 1.46094L4.92189 4.53883L7.99978 1.46094" stroke="#23262F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>


        ul.main-nav 
          li.has-childs  
            a(href="#") Товары

            ul  
              li 
                a(href="#") Мой аккаунт
              li 
                a(href="#")   Мои объявления
              li 
                a(href="#")  Избранные
              li 
                a(href="#")  Биллинг
              li 
                a(href="#")  Реферальная система
              li 
                a(href="#")  Выход

          li 
            a(href="#")  Акции    
          li 
            a(href="#")  Топливо     
          li 
            a(href="#")  Реклама     
          li 
            a(href="#")  Блог    
          li 
            a(href="#")  Акции     
          li.has-childs 
            a(href="#")  Другое

            ul  
              li 
                a(href="#") Мой аккаунт
              li 
                a(href="#")   Мои объявления
              li 
                a(href="#")  Избранные
              li 
                a(href="#")  Биллинг
              li 
                a(href="#")  Реферальная система
              li 
                a(href="#")  Выход

        .nav-row__actions
          +nice-select('lang-select', 'lang')
            option(value="RU") RU 
            option(value="KAZ") KAZ
            option(value="EN") EN

    include ../../components/catalog/catalog    