include ../../components/read-more/read-more
include ../../components/accordion-item/accordion-item

section.faq-section 
  .container 
    .faq-section__inner 
      .faq-section__text 
        h3.faq-section__title СТО Toyota Camry в Алматы

        .collapsed-text-block
          .collapsed-text.collapsed 
            | Сервис главной целью которого является качественно сделанная работа и довольный клиент. У нас фиксированные цены, мы не берем дополнительной платы за смену вентилей, чистку дисков и ступицы, пакетов для шин и другое. Нам тоже не нравится когда нам говорят одну цену за работу а после окончания работ получается совсем другая цена. Давайте поменяем эту сложившуюся ситуацию в данной индустрии вместе! Сервис главной целью которого является качественно сделанная работа и довольный клиент. У нас фиксированные цены, мы не берем дополнительной платы за смену
            | Сервис главной целью которого является качественно сделанная работа и довольный клиент. У нас фиксированные цены, мы не берем дополнительной платы за смену вентилей, чистку дисков и ступицы, пакетов для шин и другое. Нам тоже не нравится когда нам говорят одну цену за работу а после окончания работ получается совсем другая цена. Давайте поменяем эту сложившуюся ситуацию в данной индустрии вместе! Сервис главной целью которого является качественно сделанная работа и довольный клиент. У нас фиксированные цены, мы не берем дополнительной платы за смену

          +read-more-btn-collapse('js-collapse-text btn')

      .faq-section__questions 
        h3.faq-section__title Вопросы и ответы

        ul 
          li
            +accordion-item-question('Что такое "Интернет-маркетинг"? Как работает интернет-маркетинг Почему я попал сюда')
              | Сервис главной целью которого является качественно сделанная работа и довольный клиент. 

          li
            +accordion-item-question('Что должно быть на СТО?')
              | Сервис главной целью которого является качественно сделанная работа и довольный клиент. 

          li
            +accordion-item-question('Что такое "Интернет-маркетинг"? Как работает интернет-маркетинг')
              | Сервис главной целью которого является качественно сделанная работа и довольный клиент.         