include ../../components/breadcrumbs/breadcrumbs
include ../../components/btn/btn
include ../../components/read-more/read-more

.inner-page
  .container 
    +breadcrumbs
      li 
        a(href="/") Главная
      li 
        span  СТО


    .page-content.page-content__with-saidbar
      aside.page-saidbar
        .sto-info-col
          button.fav(type="button" aria-label="В избранное") 
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
              <path d="M14.6259 2.55029C14.27 2.19426 13.8475 1.91182 13.3824 1.71912C12.9174 1.52643 12.4189 1.42725 11.9155 1.42725C11.4121 1.42725 10.9136 1.52643 10.4486 1.71912C9.98353 1.91182 9.561 2.19426 9.20513 2.55029L8.46657 3.28886L7.728 2.55029C7.00917 1.83146 6.03421 1.42762 5.01763 1.42762C4.00104 1.42762 3.02608 1.83146 2.30725 2.55029C1.58841 3.26913 1.18457 4.24408 1.18457 5.26067C1.18457 6.27726 1.58841 7.25222 2.30725 7.97105L8.46657 14.1304L14.6259 7.97105C14.9819 7.61518 15.2644 7.19265 15.4571 6.72759C15.6498 6.26254 15.7489 5.76407 15.7489 5.26067C15.7489 4.75728 15.6498 4.25881 15.4571 3.79376C15.2644 3.3287 14.9819 2.90617 14.6259 2.55029Z" stroke="#D7D8D9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> 

          .logo 
            img(src="img/sto2.webp", alt="#" width="121.809" height="121.809")

          span.address г. Алматы, р-н Святошинский, ул. Кольцевая 4

          <div class="comp-card__time">
            <div class="dot" style="background-color: #36B752"> </div>круглосуточно
          </div>

          .separate-line

          .raiting-full-box 
            .raiting-full-box__head
              a(href="#").rev-count
                img(src="img/svg/comments.svg", alt="#" width="14.2" height="14.2")
                | 225 отзывов 

              .summary-raiting
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none">
                  <path d="M6.75744 1.07134C7.05679 0.150025 8.3602 0.150028 8.65955 1.07134L9.61687 4.01764C9.75074 4.42967 10.1347 4.70863 10.5679 4.70863H13.6659C14.6346 4.70863 15.0373 5.94824 14.2536 6.51764L11.7474 8.33856C11.3969 8.5932 11.2502 9.04457 11.3841 9.45659L12.3414 12.4029C12.6408 13.3242 11.5863 14.0903 10.8026 13.5209L8.29628 11.7C7.94579 11.4454 7.4712 11.4454 7.12071 11.7L4.61443 13.5209C3.83072 14.0903 2.77624 13.3242 3.07559 12.4029L4.03291 9.45659C4.16678 9.04457 4.02012 8.5932 3.66963 8.33856L1.16336 6.51764C0.379641 5.94824 0.782419 4.70863 1.75114 4.70863H4.84907C5.2823 4.70863 5.66625 4.42967 5.80013 4.01764L6.75744 1.07134Z" fill="#FFC12F"/>
                </svg>
                | 4.0

            ul.raiting-full-box__list
              li 
                span Качество услуги

                .stars 
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none">
                    <path d="M6.0592 1.54698C6.35855 0.625672 7.66196 0.625674 7.96131 1.54699L8.91862 4.49329C9.0525 4.90531 9.43645 5.18427 9.86968 5.18427H12.9676C13.9363 5.18427 14.3391 6.42389 13.5554 6.99329L11.0491 8.81421C10.6986 9.06885 10.552 9.52022 10.6858 9.93224L11.6432 12.8785C11.9425 13.7999 10.888 14.566 10.1043 13.9966L7.59804 12.1757C7.24755 11.921 6.77296 11.921 6.42247 12.1757L3.91619 13.9966C3.13248 14.566 2.078 13.7999 2.37735 12.8785L3.33466 9.93224C3.46854 9.52022 3.32188 9.06885 2.97139 8.81421L0.465113 6.99329C-0.318601 6.42389 0.0841773 5.18427 1.0529 5.18427H4.15083C4.58406 5.18427 4.96801 4.90531 5.10188 4.49329L6.0592 1.54698Z" fill="#D7D8D9"/>
                  </svg>

              li 
                span Цена

                .stars 
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none">
                    <path d="M6.0592 1.54698C6.35855 0.625672 7.66196 0.625674 7.96131 1.54699L8.91862 4.49329C9.0525 4.90531 9.43645 5.18427 9.86968 5.18427H12.9676C13.9363 5.18427 14.3391 6.42389 13.5554 6.99329L11.0491 8.81421C10.6986 9.06885 10.552 9.52022 10.6858 9.93224L11.6432 12.8785C11.9425 13.7999 10.888 14.566 10.1043 13.9966L7.59804 12.1757C7.24755 11.921 6.77296 11.921 6.42247 12.1757L3.91619 13.9966C3.13248 14.566 2.078 13.7999 2.37735 12.8785L3.33466 9.93224C3.46854 9.52022 3.32188 9.06885 2.97139 8.81421L0.465113 6.99329C-0.318601 6.42389 0.0841773 5.18427 1.0529 5.18427H4.15083C4.58406 5.18427 4.96801 4.90531 5.10188 4.49329L6.0592 1.54698Z" fill="#D7D8D9"/>
                  </svg>

              li 
                span Скорость

                .stars 
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                  </svg>


          .separate-line
          
          .contacts-full-box
            .q-contacts-row 
              a(href="#" aria-label="#").q-contact.tel
                img(src="img/svg/tel.svg", alt="#")
              a(href="#" aria-label="#").q-contact.watsapp
                img(src="img/svg/watsapp.svg", alt="#")
              a(href="#" aria-label="#").q-contact.tg
                img(src="img/svg/tg.svg", alt="#")

              +btn-link('send-order xs btn', '#')
                | Заявка

            .ic-row
              img(src="img/svg/mail.svg", alt="#" width="14.989" height="11.991")
              span info@email.com

          .separate-line
            
          ul.socials  
            li 
              a(href="#" aria-label="#")
                img(src="img/svg/fb.svg", alt="#" width="7.876" height="14.002")
            li 
              a(href="#" aria-label="#")
                img(src="img/svg/inst.svg", alt="#" width="18" height="18")
            li 
              a(href="#" aria-label="#")
                img(src="img/svg/ph_youtube-logo-fill.svg", alt="#" width="19" height="19")
            li 
              a(href="#" aria-label="#")
                img(src="img/svg/vk.svg", alt="#" width="19.5" height="11.584")
            li 
              a(href="#" aria-label="#")
                img(src="img/svg/tw.svg", alt="#" width="17.262" height="14.002")
            
          .ic-row
            img(src="img/svg/aye2svg.svg", alt="#" width="18.333" height="12.5")
            span 70 000 просмотров

        .top-col 
          h2.h2.top-col__title ТОП 5 СТО

          .sto-short
            .num 1
            <button class="fav" type="button" aria-label="В избранное">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                <path d="M14.6259 2.55029C14.27 2.19426 13.8475 1.91182 13.3824 1.71912C12.9174 1.52643 12.4189 1.42725 11.9155 1.42725C11.4121 1.42725 10.9136 1.52643 10.4486 1.71912C9.98353 1.91182 9.561 2.19426 9.20513 2.55029L8.46657 3.28886L7.728 2.55029C7.00917 1.83146 6.03421 1.42762 5.01763 1.42762C4.00104 1.42762 3.02608 1.83146 2.30725 2.55029C1.58841 3.26913 1.18457 4.24408 1.18457 5.26067C1.18457 6.27726 1.58841 7.25222 2.30725 7.97105L8.46657 14.1304L14.6259 7.97105C14.9819 7.61518 15.2644 7.19265 15.4571 6.72759C15.6498 6.26254 15.7489 5.76407 15.7489 5.26067C15.7489 4.75728 15.6498 4.25881 15.4571 3.79376C15.2644 3.3287 14.9819 2.90617 14.6259 2.55029Z" stroke="#D7D8D9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg> 
            </button>
            .sto-short__head
              .avatar(style="background-image: url(img/sto2.jpg)") 

              .col 
                <div class="lbls"> 
                  <div class="lbl ">TOP</div>
                  <div class="lbl  lbl--dark">VIP</div>
                </div>

                a(href="#") Автомотив Wash 

                .raiting-row 
                  <div class="summary-raiting">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none">
                      <path d="M6.75744 1.07134C7.05679 0.150025 8.3602 0.150028 8.65955 1.07134L9.61687 4.01764C9.75074 4.42967 10.1347 4.70863 10.5679 4.70863H13.6659C14.6346 4.70863 15.0373 5.94824 14.2536 6.51764L11.7474 8.33856C11.3969 8.5932 11.2502 9.04457 11.3841 9.45659L12.3414 12.4029C12.6408 13.3242 11.5863 14.0903 10.8026 13.5209L8.29628 11.7C7.94579 11.4454 7.4712 11.4454 7.12071 11.7L4.61443 13.5209C3.83072 14.0903 2.77624 13.3242 3.07559 12.4029L4.03291 9.45659C4.16678 9.04457 4.02012 8.5932 3.66963 8.33856L1.16336 6.51764C0.379641 5.94824 0.782419 4.70863 1.75114 4.70863H4.84907C5.2823 4.70863 5.66625 4.42967 5.80013 4.01764L6.75744 1.07134Z" fill="#FFC12F"></path>
                    </svg>
                    | 4.0
                  </div>

                  <a class="reviews-link" href="#"><img src="img/svg/reviews.svg" alt="#">225  </a>

            .sto-short__body
              p г. Алматы, р-н Святошинский, ул. Кольцевая 4
              <div class="comp-card__time">
                <div class="dot" style="background-color: #36B752"> </div>круглосуточно
              </div>

              <div class="q-contacts-row"> 
                <a class="q-contact tel" href="#" aria-label="#"><img src="img/svg/tel.svg" alt="#"></a>
                <a class="q-contact watsapp" href="#" aria-label="#"><img src="img/svg/watsapp.svg" alt="#"></a>
                <a class="q-contact tg" href="#" aria-label="#"><img src="img/svg/tg.svg" alt="#"></a>
                <a class="send-order xs btn primery-btn" href="#">Заявка</a>
              </div>

          .sto-short
            .num 2
            <button class="fav" type="button" aria-label="В избранное">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                <path d="M14.6259 2.55029C14.27 2.19426 13.8475 1.91182 13.3824 1.71912C12.9174 1.52643 12.4189 1.42725 11.9155 1.42725C11.4121 1.42725 10.9136 1.52643 10.4486 1.71912C9.98353 1.91182 9.561 2.19426 9.20513 2.55029L8.46657 3.28886L7.728 2.55029C7.00917 1.83146 6.03421 1.42762 5.01763 1.42762C4.00104 1.42762 3.02608 1.83146 2.30725 2.55029C1.58841 3.26913 1.18457 4.24408 1.18457 5.26067C1.18457 6.27726 1.58841 7.25222 2.30725 7.97105L8.46657 14.1304L14.6259 7.97105C14.9819 7.61518 15.2644 7.19265 15.4571 6.72759C15.6498 6.26254 15.7489 5.76407 15.7489 5.26067C15.7489 4.75728 15.6498 4.25881 15.4571 3.79376C15.2644 3.3287 14.9819 2.90617 14.6259 2.55029Z" stroke="#D7D8D9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg> 
            </button>
            .sto-short__head
              .avatar(style="background-image: url(img/sto2.jpg)") 

              .col 
                <div class="lbls"> 
                  <div class="lbl ">TOP</div>
                  <div class="lbl  lbl--dark">VIP</div>
                </div>

                a(href="#") WOG

                .raiting-row 
                  <div class="summary-raiting">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none">
                      <path d="M6.75744 1.07134C7.05679 0.150025 8.3602 0.150028 8.65955 1.07134L9.61687 4.01764C9.75074 4.42967 10.1347 4.70863 10.5679 4.70863H13.6659C14.6346 4.70863 15.0373 5.94824 14.2536 6.51764L11.7474 8.33856C11.3969 8.5932 11.2502 9.04457 11.3841 9.45659L12.3414 12.4029C12.6408 13.3242 11.5863 14.0903 10.8026 13.5209L8.29628 11.7C7.94579 11.4454 7.4712 11.4454 7.12071 11.7L4.61443 13.5209C3.83072 14.0903 2.77624 13.3242 3.07559 12.4029L4.03291 9.45659C4.16678 9.04457 4.02012 8.5932 3.66963 8.33856L1.16336 6.51764C0.379641 5.94824 0.782419 4.70863 1.75114 4.70863H4.84907C5.2823 4.70863 5.66625 4.42967 5.80013 4.01764L6.75744 1.07134Z" fill="#FFC12F"></path>
                    </svg>
                    | 4.0
                  </div>

                  <a class="reviews-link" href="#"><img src="img/svg/reviews.svg" alt="#">225  </a>

            .sto-short__body
              p г. Алматы, р-н Святошинский, ул. Кольцевая 4
              <div class="comp-card__time">
                <div class="dot" style="background-color: #36B752"> </div>круглосуточно
              </div>

              <div class="q-contacts-row"> 
                <a class="q-contact tel" href="#" aria-label="#"><img src="img/svg/tel.svg" alt="#"></a>
                <a class="q-contact watsapp" href="#" aria-label="#"><img src="img/svg/watsapp.svg" alt="#"></a>
                <a class="q-contact tg" href="#" aria-label="#"><img src="img/svg/tg.svg" alt="#"></a>
                <a class="send-order xs btn primery-btn" href="#">Заявка</a>
              </div>

          .sto-short
            .num 3
            <button class="fav" type="button" aria-label="В избранное">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                <path d="M14.6259 2.55029C14.27 2.19426 13.8475 1.91182 13.3824 1.71912C12.9174 1.52643 12.4189 1.42725 11.9155 1.42725C11.4121 1.42725 10.9136 1.52643 10.4486 1.71912C9.98353 1.91182 9.561 2.19426 9.20513 2.55029L8.46657 3.28886L7.728 2.55029C7.00917 1.83146 6.03421 1.42762 5.01763 1.42762C4.00104 1.42762 3.02608 1.83146 2.30725 2.55029C1.58841 3.26913 1.18457 4.24408 1.18457 5.26067C1.18457 6.27726 1.58841 7.25222 2.30725 7.97105L8.46657 14.1304L14.6259 7.97105C14.9819 7.61518 15.2644 7.19265 15.4571 6.72759C15.6498 6.26254 15.7489 5.76407 15.7489 5.26067C15.7489 4.75728 15.6498 4.25881 15.4571 3.79376C15.2644 3.3287 14.9819 2.90617 14.6259 2.55029Z" stroke="#D7D8D9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg> 
            </button>
            .sto-short__head
              .avatar(style="background-image: url(img/sto2.jpg)") 

              .col 
                <div class="lbls"> 
                  <div class="lbl ">TOP</div>
                  <div class="lbl  lbl--dark">VIP</div>
                </div>

                a(href="#") Автомотив Wash 

                .raiting-row 
                  <div class="summary-raiting">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none">
                      <path d="M6.75744 1.07134C7.05679 0.150025 8.3602 0.150028 8.65955 1.07134L9.61687 4.01764C9.75074 4.42967 10.1347 4.70863 10.5679 4.70863H13.6659C14.6346 4.70863 15.0373 5.94824 14.2536 6.51764L11.7474 8.33856C11.3969 8.5932 11.2502 9.04457 11.3841 9.45659L12.3414 12.4029C12.6408 13.3242 11.5863 14.0903 10.8026 13.5209L8.29628 11.7C7.94579 11.4454 7.4712 11.4454 7.12071 11.7L4.61443 13.5209C3.83072 14.0903 2.77624 13.3242 3.07559 12.4029L4.03291 9.45659C4.16678 9.04457 4.02012 8.5932 3.66963 8.33856L1.16336 6.51764C0.379641 5.94824 0.782419 4.70863 1.75114 4.70863H4.84907C5.2823 4.70863 5.66625 4.42967 5.80013 4.01764L6.75744 1.07134Z" fill="#FFC12F"></path>
                    </svg>
                    | 4.0
                  </div>

                  <a class="reviews-link" href="#"><img src="img/svg/reviews.svg" alt="#">225  </a>

            .sto-short__body
              p г. Алматы, р-н Святошинский, ул. Кольцевая 4
              <div class="comp-card__time">
                <div class="dot" style="background-color: #36B752"> </div>круглосуточно
              </div>

              <div class="q-contacts-row"> 
                <a class="q-contact tel" href="#" aria-label="#"><img src="img/svg/tel.svg" alt="#"></a>
                <a class="q-contact watsapp" href="#" aria-label="#"><img src="img/svg/watsapp.svg" alt="#"></a>
                <a class="q-contact tg" href="#" aria-label="#"><img src="img/svg/tg.svg" alt="#"></a>
                <a class="send-order xs btn primery-btn" href="#">Заявка</a>
              </div>

          .sto-short
            .num 4
            <button class="fav" type="button" aria-label="В избранное">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                <path d="M14.6259 2.55029C14.27 2.19426 13.8475 1.91182 13.3824 1.71912C12.9174 1.52643 12.4189 1.42725 11.9155 1.42725C11.4121 1.42725 10.9136 1.52643 10.4486 1.71912C9.98353 1.91182 9.561 2.19426 9.20513 2.55029L8.46657 3.28886L7.728 2.55029C7.00917 1.83146 6.03421 1.42762 5.01763 1.42762C4.00104 1.42762 3.02608 1.83146 2.30725 2.55029C1.58841 3.26913 1.18457 4.24408 1.18457 5.26067C1.18457 6.27726 1.58841 7.25222 2.30725 7.97105L8.46657 14.1304L14.6259 7.97105C14.9819 7.61518 15.2644 7.19265 15.4571 6.72759C15.6498 6.26254 15.7489 5.76407 15.7489 5.26067C15.7489 4.75728 15.6498 4.25881 15.4571 3.79376C15.2644 3.3287 14.9819 2.90617 14.6259 2.55029Z" stroke="#D7D8D9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg> 
            </button>
            .sto-short__head
              .avatar(style="background-image: url(img/sto2.jpg)") 

              .col 
                <div class="lbls"> 
                  <div class="lbl ">TOP</div>
                  <div class="lbl  lbl--dark">VIP</div>
                </div>

                a(href="#") WOG

                .raiting-row 
                  <div class="summary-raiting">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none">
                      <path d="M6.75744 1.07134C7.05679 0.150025 8.3602 0.150028 8.65955 1.07134L9.61687 4.01764C9.75074 4.42967 10.1347 4.70863 10.5679 4.70863H13.6659C14.6346 4.70863 15.0373 5.94824 14.2536 6.51764L11.7474 8.33856C11.3969 8.5932 11.2502 9.04457 11.3841 9.45659L12.3414 12.4029C12.6408 13.3242 11.5863 14.0903 10.8026 13.5209L8.29628 11.7C7.94579 11.4454 7.4712 11.4454 7.12071 11.7L4.61443 13.5209C3.83072 14.0903 2.77624 13.3242 3.07559 12.4029L4.03291 9.45659C4.16678 9.04457 4.02012 8.5932 3.66963 8.33856L1.16336 6.51764C0.379641 5.94824 0.782419 4.70863 1.75114 4.70863H4.84907C5.2823 4.70863 5.66625 4.42967 5.80013 4.01764L6.75744 1.07134Z" fill="#FFC12F"></path>
                    </svg>
                    | 4.0
                  </div>

                  <a class="reviews-link" href="#"><img src="img/svg/reviews.svg" alt="#">225  </a>

            .sto-short__body
              p г. Алматы, р-н Святошинский, ул. Кольцевая 4
              <div class="comp-card__time">
                <div class="dot" style="background-color: #36B752"> </div>круглосуточно
              </div>

              <div class="q-contacts-row"> 
                <a class="q-contact tel" href="#" aria-label="#"><img src="img/svg/tel.svg" alt="#"></a>
                <a class="q-contact watsapp" href="#" aria-label="#"><img src="img/svg/watsapp.svg" alt="#"></a>
                <a class="q-contact tg" href="#" aria-label="#"><img src="img/svg/tg.svg" alt="#"></a>
                <a class="send-order xs btn primery-btn" href="#">Заявка</a>
              </div>

          .sto-short
            .num 5
            <button class="fav" type="button" aria-label="В избранное">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                <path d="M14.6259 2.55029C14.27 2.19426 13.8475 1.91182 13.3824 1.71912C12.9174 1.52643 12.4189 1.42725 11.9155 1.42725C11.4121 1.42725 10.9136 1.52643 10.4486 1.71912C9.98353 1.91182 9.561 2.19426 9.20513 2.55029L8.46657 3.28886L7.728 2.55029C7.00917 1.83146 6.03421 1.42762 5.01763 1.42762C4.00104 1.42762 3.02608 1.83146 2.30725 2.55029C1.58841 3.26913 1.18457 4.24408 1.18457 5.26067C1.18457 6.27726 1.58841 7.25222 2.30725 7.97105L8.46657 14.1304L14.6259 7.97105C14.9819 7.61518 15.2644 7.19265 15.4571 6.72759C15.6498 6.26254 15.7489 5.76407 15.7489 5.26067C15.7489 4.75728 15.6498 4.25881 15.4571 3.79376C15.2644 3.3287 14.9819 2.90617 14.6259 2.55029Z" stroke="#D7D8D9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg> 
            </button>
            .sto-short__head
              .avatar(style="background-image: url(img/sto2.jpg)") 

              .col 
                <div class="lbls"> 
                  <div class="lbl ">TOP</div>
                  <div class="lbl  lbl--dark">VIP</div>
                </div>

                a(href="#") Автомотив Wash 

                .raiting-row 
                  <div class="summary-raiting">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none">
                      <path d="M6.75744 1.07134C7.05679 0.150025 8.3602 0.150028 8.65955 1.07134L9.61687 4.01764C9.75074 4.42967 10.1347 4.70863 10.5679 4.70863H13.6659C14.6346 4.70863 15.0373 5.94824 14.2536 6.51764L11.7474 8.33856C11.3969 8.5932 11.2502 9.04457 11.3841 9.45659L12.3414 12.4029C12.6408 13.3242 11.5863 14.0903 10.8026 13.5209L8.29628 11.7C7.94579 11.4454 7.4712 11.4454 7.12071 11.7L4.61443 13.5209C3.83072 14.0903 2.77624 13.3242 3.07559 12.4029L4.03291 9.45659C4.16678 9.04457 4.02012 8.5932 3.66963 8.33856L1.16336 6.51764C0.379641 5.94824 0.782419 4.70863 1.75114 4.70863H4.84907C5.2823 4.70863 5.66625 4.42967 5.80013 4.01764L6.75744 1.07134Z" fill="#FFC12F"></path>
                    </svg>
                    | 4.0
                  </div>

                  <a class="reviews-link" href="#"><img src="img/svg/reviews.svg" alt="#">225  </a>

            .sto-short__body
              p г. Алматы, р-н Святошинский, ул. Кольцевая 4
              <div class="comp-card__time">
                <div class="dot" style="background-color: #36B752"> </div>круглосуточно
              </div>

              <div class="q-contacts-row"> 
                <a class="q-contact tel" href="#" aria-label="#"><img src="img/svg/tel.svg" alt="#"></a>
                <a class="q-contact watsapp" href="#" aria-label="#"><img src="img/svg/watsapp.svg" alt="#"></a>
                <a class="q-contact tg" href="#" aria-label="#"><img src="img/svg/tg.svg" alt="#"></a>
                <a class="send-order xs btn primery-btn" href="#">Заявка</a>
              </div>


      .page-main-content
        .page-main-content__title
          .ava 
            img(src="img/sto.webp", alt="#")
          .text
            h1.h1
              | Автомотив Wash

            .lbls 
              .lbl.lbl--xl TOP
              .lbl.lbl--xl.lbl--dark VIP

            p г. Алматы, р-н Святошский, ул. Кольцевая 4

            <div class="comp-card__time">
              <div class="dot" style="background-color: #36B752"> </div>круглосуточно
            </div>


        .sto-info-mob 
          
          .raiting-full-box 
            .raiting-full-box__head
              a(href="#").rev-count
                img(src="img/svg/comments.svg", alt="#" width="14.2" height="14.2")
                | 225 отзывов 

              .summary-raiting
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none">
                  <path d="M6.75744 1.07134C7.05679 0.150025 8.3602 0.150028 8.65955 1.07134L9.61687 4.01764C9.75074 4.42967 10.1347 4.70863 10.5679 4.70863H13.6659C14.6346 4.70863 15.0373 5.94824 14.2536 6.51764L11.7474 8.33856C11.3969 8.5932 11.2502 9.04457 11.3841 9.45659L12.3414 12.4029C12.6408 13.3242 11.5863 14.0903 10.8026 13.5209L8.29628 11.7C7.94579 11.4454 7.4712 11.4454 7.12071 11.7L4.61443 13.5209C3.83072 14.0903 2.77624 13.3242 3.07559 12.4029L4.03291 9.45659C4.16678 9.04457 4.02012 8.5932 3.66963 8.33856L1.16336 6.51764C0.379641 5.94824 0.782419 4.70863 1.75114 4.70863H4.84907C5.2823 4.70863 5.66625 4.42967 5.80013 4.01764L6.75744 1.07134Z" fill="#FFC12F"/>
                </svg>
                | 4.0

            ul.raiting-full-box__list
              li 
                span Качество услуги

                .stars 
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none">
                    <path d="M6.0592 1.54698C6.35855 0.625672 7.66196 0.625674 7.96131 1.54699L8.91862 4.49329C9.0525 4.90531 9.43645 5.18427 9.86968 5.18427H12.9676C13.9363 5.18427 14.3391 6.42389 13.5554 6.99329L11.0491 8.81421C10.6986 9.06885 10.552 9.52022 10.6858 9.93224L11.6432 12.8785C11.9425 13.7999 10.888 14.566 10.1043 13.9966L7.59804 12.1757C7.24755 11.921 6.77296 11.921 6.42247 12.1757L3.91619 13.9966C3.13248 14.566 2.078 13.7999 2.37735 12.8785L3.33466 9.93224C3.46854 9.52022 3.32188 9.06885 2.97139 8.81421L0.465113 6.99329C-0.318601 6.42389 0.0841773 5.18427 1.0529 5.18427H4.15083C4.58406 5.18427 4.96801 4.90531 5.10188 4.49329L6.0592 1.54698Z" fill="#D7D8D9"/>
                  </svg>

              li 
                span Цена

                .stars 
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none">
                    <path d="M6.0592 1.54698C6.35855 0.625672 7.66196 0.625674 7.96131 1.54699L8.91862 4.49329C9.0525 4.90531 9.43645 5.18427 9.86968 5.18427H12.9676C13.9363 5.18427 14.3391 6.42389 13.5554 6.99329L11.0491 8.81421C10.6986 9.06885 10.552 9.52022 10.6858 9.93224L11.6432 12.8785C11.9425 13.7999 10.888 14.566 10.1043 13.9966L7.59804 12.1757C7.24755 11.921 6.77296 11.921 6.42247 12.1757L3.91619 13.9966C3.13248 14.566 2.078 13.7999 2.37735 12.8785L3.33466 9.93224C3.46854 9.52022 3.32188 9.06885 2.97139 8.81421L0.465113 6.99329C-0.318601 6.42389 0.0841773 5.18427 1.0529 5.18427H4.15083C4.58406 5.18427 4.96801 4.90531 5.10188 4.49329L6.0592 1.54698Z" fill="#D7D8D9"/>
                  </svg>

              li 
                span Скорость

                .stars 
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                  </svg>


          .separate-line
          
          .contacts-full-box
            .q-contacts-row 
              a(href="#" aria-label="#").q-contact.tel
                img(src="img/svg/tel.svg", alt="#")
              a(href="#" aria-label="#").q-contact.watsapp
                img(src="img/svg/watsapp.svg", alt="#")
              a(href="#" aria-label="#").q-contact.tg
                img(src="img/svg/tg.svg", alt="#")

              +btn-link('send-order xs btn', '#')
                | Отправить заявку

            .ic-row
              img(src="img/svg/mail.svg", alt="#" width="14.989" height="11.991")
              span info@email.com

          
            
          ul.socials  
            li 
              a(href="#" aria-label="#")
                img(src="img/svg/fb.svg", alt="#" width="7.876" height="14.002")
            li 
              a(href="#" aria-label="#")
                img(src="img/svg/inst.svg", alt="#" width="18" height="18")
            li 
              a(href="#" aria-label="#")
                img(src="img/svg/ph_youtube-logo-fill.svg", alt="#" width="19" height="19")
            li 
              a(href="#" aria-label="#")
                img(src="img/svg/vk.svg", alt="#" width="19.5" height="11.584")
            li 
              a(href="#" aria-label="#")
                img(src="img/svg/tw.svg", alt="#" width="17.262" height="14.002")
            
          .ic-row
            img(src="img/svg/aye2svg.svg", alt="#" width="18.333" height="12.5")
            span 70 000 просмотров    

        .sto-gallery-container
          button(type="button" aria-label="Prev").nav.prev
              <svg xmlns="http://www.w3.org/2000/svg" width="11" height="12" viewBox="0 0 11 12" fill="none">
                <path d="M1 5.9322H9.56919M9.56919 5.9322L5.28459 10.2168M9.56919 5.9322L5.28459 1.64761" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg> 

          button(type="button" aria-label="Next").nav.next
            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="12" viewBox="0 0 11 12" fill="none">
              <path d="M1 5.9322H9.56919M9.56919 5.9322L5.28459 10.2168M9.56919 5.9322L5.28459 1.64761" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> 
          .swiper.sto-gallery
            .swiper-wrapper 
              .swiper-slide 
                img(src="img/g1.webp", alt="#" width="283.662" height="166.395")
              .swiper-slide 
                img(src="img/g2.webp", alt="#" width="283.662" height="166.395")
              .swiper-slide 
                img(src="img/g3.webp", alt="#" width="283.662" height="166.395")
              .swiper-slide 
                img(src="img/g1.webp", alt="#" width="283.662" height="166.395")
              .swiper-slide 
                img(src="img/g2.webp", alt="#" width="283.662" height="166.395")
              
            
        .tab-row-container.swiper
          ul.tab-row.swiper-wrapper 
            li.swiper-slide
              a(href="#").tab.active Комфорт 
            li.swiper-slide
              a(href="#").tab Специализация
            li.swiper-slide
              a(href="#").tab Услуги
            li.swiper-slide
              a(href="#").tab Акции
            li.swiper-slide
              a(href="#").tab О нас
            li.swiper-slide
              a(href="#").tab Отзывы


        .about-sto 
          h2.h2.about-sto__title Об автосервисе

          .collapsed-text-block
            .collapsed-text.collapsed.short 
              | Сервис главной целью которого является качественно сделанная работа и довольный клиент. У нас фиксированные цены, мы не берем дополнительной платы за смену вентилей, чистку дисков и ступицы, пакетов для шин и другое. Нам тоже не нравится когда нам говорят одну цену за работу а после окончания работ получается совсем другая цена. Давайте поменяем эту сложившуюся ситуацию в данной индустрии вместе!<br>
              <br>
              | Сервис главной целью которого является качественно сделанная работа и довольный клиент. У нас фиксированные цены, мы не берем дополнительной платы за смену вентилей, чистку дисков и ступицы, пакетов для шин и другое. Нам тоже не нравится когда нам говорят одну цену за работу а после окончания работ получается совсем другая цена. Давайте поменяем эту сложившуюся ситуацию в данной индустрии вместе! Сервис главной целью которого является качественно сделанная работа и довольный клиент. У нас фиксированные цены, мы не берем дополнительной платы за смену

            +read-more-btn-collapse('js-collapse-text btn')

        
        .comfort 
          h2.h2.comfort__title Комфорт

          .comfort-slider-container
            button(type="button" aria-label="Prev").nav.prev
              <svg xmlns="http://www.w3.org/2000/svg" width="11" height="12" viewBox="0 0 11 12" fill="none">
                <path d="M1 5.9322H9.56919M9.56919 5.9322L5.28459 10.2168M9.56919 5.9322L5.28459 1.64761" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg> 

            button(type="button" aria-label="Next").nav.next
              <svg xmlns="http://www.w3.org/2000/svg" width="11" height="12" viewBox="0 0 11 12" fill="none">
                <path d="M1 5.9322H9.56919M9.56919 5.9322L5.28459 10.2168M9.56919 5.9322L5.28459 1.64761" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg> 

            .comfort-slider.swiper  
              .swiper-wrapper
                .comfort__item.swiper-slide
                  .ic
                    img(src="img/svg/cupy.svg", alt="#")

                  h3.h3.comfort__item-title Кафе
                  p Салаты, fasfood, кофе и сладости

                .comfort__item.y.swiper-slide
                  .ic 
                    img(src="img/svg/wifi.svg", alt="#")

                  h3.h3.comfort__item-title WI-FI
                  p На территории бесплатный WiFi

                .comfort__item.d.swiper-slide
                  .ic 
                    img(src="img/svg/sofa.svg", alt="#")

                  h3.h3.comfort__item-title Зона отдыха
                  p Комфортные диваны,телевизор
                
                .comfort__item.r.swiper-slide  
                  .ic
                    img(src="img/svg/cupd.svg", alt="#")

                  h3.h3.comfort__item-title Кафе
                  p Салаты, fasfood, кофе и сладости

                .comfort__item.swiper-slide  
                  .ic
                    img(src="img/svg/wifiy.svg", alt="#")

                  h3.h3.comfort__item-title WI-FI
                  p На территории бесплатный WiFi

                .comfort__item.y.swiper-slide
                  .ic 
                    img(src="img/svg/wifi.svg", alt="#")

                  h3.h3.comfort__item-title WI-FI
                  p На территории бесплатный WiFi

                .comfort__item.d.swiper-slide
                  .ic 
                    img(src="img/svg/sofa.svg", alt="#")

                  h3.h3.comfort__item-title Зона отдыха
                  p Комфортные диваны,телевизор
                
                .comfort__item.r.swiper-slide  
                  .ic
                    img(src="img/svg/cupd.svg", alt="#")

                  h3.h3.comfort__item-title Кафе
                  p Салаты, fasfood, кофе и сладости

                .comfort__item.swiper-slide  
                  .ic
                    img(src="img/svg/wifiy.svg", alt="#")

                  h3.h3.comfort__item-title WI-FI
                  p На территории бесплатный WiFi


        .spec 
          h2.h2.spec__title Специализация

          .spec-list-container
            .spec-list.swiper 
              .swiper-wrapper
                .spec-item.swiper-slide 
                  img(src="img/spec/1.svg", alt="#")
                  | CHEVROLET

                .spec-item.swiper-slide  
                  img(src="img/spec/2.svg", alt="#") 
                  | FORD

                .spec-item.swiper-slide  
                  img(src="img/spec/3.svg", alt="#") 
                  | HYUNDAI

                .spec-item.swiper-slide  
                  img(src="img/spec/4.svg", alt="#") 
                  | MITSUBISHI

                .spec-item.swiper-slide  
                  img(src="img/spec/1.svg", alt="#")
                  | CHEVROLET
                
                .spec-item(data-hidden="true").swiper-slide  
                  img(src="img/spec/1.svg", alt="#") 
                  | CHEVROLET
                
                .spec-item(data-hidden="true").swiper-slide   
                  img(src="img/spec/1.svg", alt="#") 
                  | FORD

                .spec-item(data-hidden="true").swiper-slide   
                  img(src="img/spec/1.svg", alt="#") 
                  | HYUNDAI
                
                .spec-item(data-hidden="true").swiper-slide   
                  img(src="img/spec/1.svg", alt="#") 
                  | FORD



                button.spec-show-more(type="button" data-show-text="показать еще" data-hide-text="скрыть")
                  .count 59
                  span показать еще



        .services
          .services__head
            h2.h2.services__title Услуги СТО


            .per-hour 
              span Один нормо-час работы

              strong от 300 тг


          .service-block 
            strong.service-block__title Сервисное ТО

            .service-block__items
              .service-block__item
                span Ремонт тормозных суппортов.
                .dots 
                .price
                  strong от 300 тг
                  
                  button.to-cart(aria-label="to-cart")
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                      <circle cx="14" cy="14" r="14" fill="#007879"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M13.6152 8.00879C13.7262 7.8756 13.8639 7.76717 14.0194 7.69047C14.1749 7.61378 14.3447 7.57053 14.518 7.56352C14.6912 7.5565 14.864 7.58588 15.0252 7.64975C15.1864 7.71362 15.3324 7.81057 15.4538 7.93435L15.5208 8.00879L17.96 10.9356H19.8117C19.9419 10.9353 20.0707 10.9625 20.1896 11.0154C20.3085 11.0684 20.4149 11.1459 20.5019 11.2428C20.5888 11.3397 20.6542 11.4539 20.6939 11.5779C20.7336 11.7019 20.7467 11.8328 20.7323 11.9622L20.6752 12.4374L20.6132 12.8964L20.5623 13.2401L20.5034 13.6092L20.4364 13.9969L20.3607 14.3989L20.2764 14.809C20.2317 15.0155 20.1839 15.2227 20.1324 15.428C19.9951 15.9729 19.8227 16.5084 19.6163 17.031L19.4792 17.366L19.3465 17.6687L19.2212 17.9379L19.1629 18.0583L19.0084 18.3623C18.8099 18.7407 18.4352 18.964 18.0388 18.9962L17.9395 19H11.1902C10.9734 19.0017 10.7601 18.9444 10.5733 18.8342C10.3864 18.7241 10.233 18.5652 10.1295 18.3747L9.98555 18.0955L9.87389 17.866C9.85401 17.8237 9.83436 17.7813 9.81496 17.7388L9.69089 17.4603C9.40767 16.8024 9.17782 16.1228 9.00355 15.428C8.96989 15.2932 8.93763 15.1579 8.90678 15.0223L8.81869 14.6204L8.73991 14.2271L8.67043 13.8468L8.6084 13.4827L8.55443 13.139L8.50852 12.8208L8.45269 12.3971L8.41175 12.0522C8.40817 12.0205 8.40466 11.9889 8.4012 11.9573C8.3882 11.8353 8.39961 11.7121 8.43477 11.5946C8.46992 11.4772 8.52812 11.3679 8.60597 11.2732C8.68381 11.1785 8.77974 11.1003 8.88816 11.043C8.99658 10.9858 9.11531 10.9507 9.23742 10.9399L9.32179 10.9356H11.176L13.6152 8.00879ZM13.3031 13.8648C13.2612 13.7184 13.1668 13.5926 13.0381 13.5113C12.9094 13.43 12.7552 13.3988 12.605 13.4238C12.4548 13.4488 12.3191 13.5282 12.2236 13.6468C12.1281 13.7654 12.0796 13.915 12.0873 14.067L12.0953 14.139L12.4055 16L12.421 16.0707C12.463 16.2171 12.5573 16.3429 12.686 16.4242C12.8148 16.5055 12.9689 16.5367 13.1191 16.5117C13.2693 16.4867 13.4051 16.4074 13.5005 16.2887C13.596 16.1701 13.6445 16.0206 13.6369 15.8685L13.6288 15.7965L13.3186 13.9355L13.3031 13.8648ZM16.5308 13.4256C16.3808 13.4006 16.2269 13.4315 16.0983 13.5125C15.9696 13.5934 15.8752 13.7188 15.8329 13.8648L15.8174 13.9355L15.5072 15.7965C15.4813 15.9526 15.516 16.1127 15.6042 16.244C15.6925 16.3753 15.8275 16.468 15.9818 16.503C16.1361 16.538 16.298 16.5128 16.4342 16.4324C16.5705 16.3521 16.671 16.2227 16.715 16.0707L16.7305 16L17.0407 14.139C17.0676 13.9768 17.029 13.8105 16.9334 13.6767C16.8377 13.543 16.6929 13.4526 16.5308 13.4256ZM14.568 8.80282L12.7907 10.9356H16.3453L14.568 8.80282Z" fill="white"/>
                    </svg>

              .service-block__item
                span Проточка тормозных дисков..
                .dots 
                .price
                  strong от 15 000 тг
                  
                  button.to-cart(aria-label="to-cart")
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                      <circle cx="14" cy="14" r="14" fill="#007879"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M13.6152 8.00879C13.7262 7.8756 13.8639 7.76717 14.0194 7.69047C14.1749 7.61378 14.3447 7.57053 14.518 7.56352C14.6912 7.5565 14.864 7.58588 15.0252 7.64975C15.1864 7.71362 15.3324 7.81057 15.4538 7.93435L15.5208 8.00879L17.96 10.9356H19.8117C19.9419 10.9353 20.0707 10.9625 20.1896 11.0154C20.3085 11.0684 20.4149 11.1459 20.5019 11.2428C20.5888 11.3397 20.6542 11.4539 20.6939 11.5779C20.7336 11.7019 20.7467 11.8328 20.7323 11.9622L20.6752 12.4374L20.6132 12.8964L20.5623 13.2401L20.5034 13.6092L20.4364 13.9969L20.3607 14.3989L20.2764 14.809C20.2317 15.0155 20.1839 15.2227 20.1324 15.428C19.9951 15.9729 19.8227 16.5084 19.6163 17.031L19.4792 17.366L19.3465 17.6687L19.2212 17.9379L19.1629 18.0583L19.0084 18.3623C18.8099 18.7407 18.4352 18.964 18.0388 18.9962L17.9395 19H11.1902C10.9734 19.0017 10.7601 18.9444 10.5733 18.8342C10.3864 18.7241 10.233 18.5652 10.1295 18.3747L9.98555 18.0955L9.87389 17.866C9.85401 17.8237 9.83436 17.7813 9.81496 17.7388L9.69089 17.4603C9.40767 16.8024 9.17782 16.1228 9.00355 15.428C8.96989 15.2932 8.93763 15.1579 8.90678 15.0223L8.81869 14.6204L8.73991 14.2271L8.67043 13.8468L8.6084 13.4827L8.55443 13.139L8.50852 12.8208L8.45269 12.3971L8.41175 12.0522C8.40817 12.0205 8.40466 11.9889 8.4012 11.9573C8.3882 11.8353 8.39961 11.7121 8.43477 11.5946C8.46992 11.4772 8.52812 11.3679 8.60597 11.2732C8.68381 11.1785 8.77974 11.1003 8.88816 11.043C8.99658 10.9858 9.11531 10.9507 9.23742 10.9399L9.32179 10.9356H11.176L13.6152 8.00879ZM13.3031 13.8648C13.2612 13.7184 13.1668 13.5926 13.0381 13.5113C12.9094 13.43 12.7552 13.3988 12.605 13.4238C12.4548 13.4488 12.3191 13.5282 12.2236 13.6468C12.1281 13.7654 12.0796 13.915 12.0873 14.067L12.0953 14.139L12.4055 16L12.421 16.0707C12.463 16.2171 12.5573 16.3429 12.686 16.4242C12.8148 16.5055 12.9689 16.5367 13.1191 16.5117C13.2693 16.4867 13.4051 16.4074 13.5005 16.2887C13.596 16.1701 13.6445 16.0206 13.6369 15.8685L13.6288 15.7965L13.3186 13.9355L13.3031 13.8648ZM16.5308 13.4256C16.3808 13.4006 16.2269 13.4315 16.0983 13.5125C15.9696 13.5934 15.8752 13.7188 15.8329 13.8648L15.8174 13.9355L15.5072 15.7965C15.4813 15.9526 15.516 16.1127 15.6042 16.244C15.6925 16.3753 15.8275 16.468 15.9818 16.503C16.1361 16.538 16.298 16.5128 16.4342 16.4324C16.5705 16.3521 16.671 16.2227 16.715 16.0707L16.7305 16L17.0407 14.139C17.0676 13.9768 17.029 13.8105 16.9334 13.6767C16.8377 13.543 16.6929 13.4526 16.5308 13.4256ZM14.568 8.80282L12.7907 10.9356H16.3453L14.568 8.80282Z" fill="white"/>
                    </svg>

              .service-block__item
                span Развал-схождение.
                .dots 
                .price
                  strong от 2900 тг
                  
                  button.to-cart(aria-label="to-cart")
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                      <circle cx="14" cy="14" r="14" fill="#007879"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M13.6152 8.00879C13.7262 7.8756 13.8639 7.76717 14.0194 7.69047C14.1749 7.61378 14.3447 7.57053 14.518 7.56352C14.6912 7.5565 14.864 7.58588 15.0252 7.64975C15.1864 7.71362 15.3324 7.81057 15.4538 7.93435L15.5208 8.00879L17.96 10.9356H19.8117C19.9419 10.9353 20.0707 10.9625 20.1896 11.0154C20.3085 11.0684 20.4149 11.1459 20.5019 11.2428C20.5888 11.3397 20.6542 11.4539 20.6939 11.5779C20.7336 11.7019 20.7467 11.8328 20.7323 11.9622L20.6752 12.4374L20.6132 12.8964L20.5623 13.2401L20.5034 13.6092L20.4364 13.9969L20.3607 14.3989L20.2764 14.809C20.2317 15.0155 20.1839 15.2227 20.1324 15.428C19.9951 15.9729 19.8227 16.5084 19.6163 17.031L19.4792 17.366L19.3465 17.6687L19.2212 17.9379L19.1629 18.0583L19.0084 18.3623C18.8099 18.7407 18.4352 18.964 18.0388 18.9962L17.9395 19H11.1902C10.9734 19.0017 10.7601 18.9444 10.5733 18.8342C10.3864 18.7241 10.233 18.5652 10.1295 18.3747L9.98555 18.0955L9.87389 17.866C9.85401 17.8237 9.83436 17.7813 9.81496 17.7388L9.69089 17.4603C9.40767 16.8024 9.17782 16.1228 9.00355 15.428C8.96989 15.2932 8.93763 15.1579 8.90678 15.0223L8.81869 14.6204L8.73991 14.2271L8.67043 13.8468L8.6084 13.4827L8.55443 13.139L8.50852 12.8208L8.45269 12.3971L8.41175 12.0522C8.40817 12.0205 8.40466 11.9889 8.4012 11.9573C8.3882 11.8353 8.39961 11.7121 8.43477 11.5946C8.46992 11.4772 8.52812 11.3679 8.60597 11.2732C8.68381 11.1785 8.77974 11.1003 8.88816 11.043C8.99658 10.9858 9.11531 10.9507 9.23742 10.9399L9.32179 10.9356H11.176L13.6152 8.00879ZM13.3031 13.8648C13.2612 13.7184 13.1668 13.5926 13.0381 13.5113C12.9094 13.43 12.7552 13.3988 12.605 13.4238C12.4548 13.4488 12.3191 13.5282 12.2236 13.6468C12.1281 13.7654 12.0796 13.915 12.0873 14.067L12.0953 14.139L12.4055 16L12.421 16.0707C12.463 16.2171 12.5573 16.3429 12.686 16.4242C12.8148 16.5055 12.9689 16.5367 13.1191 16.5117C13.2693 16.4867 13.4051 16.4074 13.5005 16.2887C13.596 16.1701 13.6445 16.0206 13.6369 15.8685L13.6288 15.7965L13.3186 13.9355L13.3031 13.8648ZM16.5308 13.4256C16.3808 13.4006 16.2269 13.4315 16.0983 13.5125C15.9696 13.5934 15.8752 13.7188 15.8329 13.8648L15.8174 13.9355L15.5072 15.7965C15.4813 15.9526 15.516 16.1127 15.6042 16.244C15.6925 16.3753 15.8275 16.468 15.9818 16.503C16.1361 16.538 16.298 16.5128 16.4342 16.4324C16.5705 16.3521 16.671 16.2227 16.715 16.0707L16.7305 16L17.0407 14.139C17.0676 13.9768 17.029 13.8105 16.9334 13.6767C16.8377 13.543 16.6929 13.4526 16.5308 13.4256ZM14.568 8.80282L12.7907 10.9356H16.3453L14.568 8.80282Z" fill="white"/>
                    </svg>

              .service-block__item
                span Ремонт рулевой рейки
                .dots 
                .price
                  strong от 90 000 тг
                  
                  button.to-cart(aria-label="to-cart")
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                      <circle cx="14" cy="14" r="14" fill="#007879"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M13.6152 8.00879C13.7262 7.8756 13.8639 7.76717 14.0194 7.69047C14.1749 7.61378 14.3447 7.57053 14.518 7.56352C14.6912 7.5565 14.864 7.58588 15.0252 7.64975C15.1864 7.71362 15.3324 7.81057 15.4538 7.93435L15.5208 8.00879L17.96 10.9356H19.8117C19.9419 10.9353 20.0707 10.9625 20.1896 11.0154C20.3085 11.0684 20.4149 11.1459 20.5019 11.2428C20.5888 11.3397 20.6542 11.4539 20.6939 11.5779C20.7336 11.7019 20.7467 11.8328 20.7323 11.9622L20.6752 12.4374L20.6132 12.8964L20.5623 13.2401L20.5034 13.6092L20.4364 13.9969L20.3607 14.3989L20.2764 14.809C20.2317 15.0155 20.1839 15.2227 20.1324 15.428C19.9951 15.9729 19.8227 16.5084 19.6163 17.031L19.4792 17.366L19.3465 17.6687L19.2212 17.9379L19.1629 18.0583L19.0084 18.3623C18.8099 18.7407 18.4352 18.964 18.0388 18.9962L17.9395 19H11.1902C10.9734 19.0017 10.7601 18.9444 10.5733 18.8342C10.3864 18.7241 10.233 18.5652 10.1295 18.3747L9.98555 18.0955L9.87389 17.866C9.85401 17.8237 9.83436 17.7813 9.81496 17.7388L9.69089 17.4603C9.40767 16.8024 9.17782 16.1228 9.00355 15.428C8.96989 15.2932 8.93763 15.1579 8.90678 15.0223L8.81869 14.6204L8.73991 14.2271L8.67043 13.8468L8.6084 13.4827L8.55443 13.139L8.50852 12.8208L8.45269 12.3971L8.41175 12.0522C8.40817 12.0205 8.40466 11.9889 8.4012 11.9573C8.3882 11.8353 8.39961 11.7121 8.43477 11.5946C8.46992 11.4772 8.52812 11.3679 8.60597 11.2732C8.68381 11.1785 8.77974 11.1003 8.88816 11.043C8.99658 10.9858 9.11531 10.9507 9.23742 10.9399L9.32179 10.9356H11.176L13.6152 8.00879ZM13.3031 13.8648C13.2612 13.7184 13.1668 13.5926 13.0381 13.5113C12.9094 13.43 12.7552 13.3988 12.605 13.4238C12.4548 13.4488 12.3191 13.5282 12.2236 13.6468C12.1281 13.7654 12.0796 13.915 12.0873 14.067L12.0953 14.139L12.4055 16L12.421 16.0707C12.463 16.2171 12.5573 16.3429 12.686 16.4242C12.8148 16.5055 12.9689 16.5367 13.1191 16.5117C13.2693 16.4867 13.4051 16.4074 13.5005 16.2887C13.596 16.1701 13.6445 16.0206 13.6369 15.8685L13.6288 15.7965L13.3186 13.9355L13.3031 13.8648ZM16.5308 13.4256C16.3808 13.4006 16.2269 13.4315 16.0983 13.5125C15.9696 13.5934 15.8752 13.7188 15.8329 13.8648L15.8174 13.9355L15.5072 15.7965C15.4813 15.9526 15.516 16.1127 15.6042 16.244C15.6925 16.3753 15.8275 16.468 15.9818 16.503C16.1361 16.538 16.298 16.5128 16.4342 16.4324C16.5705 16.3521 16.671 16.2227 16.715 16.0707L16.7305 16L17.0407 14.139C17.0676 13.9768 17.029 13.8105 16.9334 13.6767C16.8377 13.543 16.6929 13.4526 16.5308 13.4256ZM14.568 8.80282L12.7907 10.9356H16.3453L14.568 8.80282Z" fill="white"/>
                    </svg>

              .service-block__item
                span Замена комплекта ремня ГРМ с роликами и водяной помпой...
                .dots 
                .price
                  strong от 300 тг
                  
                  button.to-cart(aria-label="to-cart")
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                      <circle cx="14" cy="14" r="14" fill="#007879"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M13.6152 8.00879C13.7262 7.8756 13.8639 7.76717 14.0194 7.69047C14.1749 7.61378 14.3447 7.57053 14.518 7.56352C14.6912 7.5565 14.864 7.58588 15.0252 7.64975C15.1864 7.71362 15.3324 7.81057 15.4538 7.93435L15.5208 8.00879L17.96 10.9356H19.8117C19.9419 10.9353 20.0707 10.9625 20.1896 11.0154C20.3085 11.0684 20.4149 11.1459 20.5019 11.2428C20.5888 11.3397 20.6542 11.4539 20.6939 11.5779C20.7336 11.7019 20.7467 11.8328 20.7323 11.9622L20.6752 12.4374L20.6132 12.8964L20.5623 13.2401L20.5034 13.6092L20.4364 13.9969L20.3607 14.3989L20.2764 14.809C20.2317 15.0155 20.1839 15.2227 20.1324 15.428C19.9951 15.9729 19.8227 16.5084 19.6163 17.031L19.4792 17.366L19.3465 17.6687L19.2212 17.9379L19.1629 18.0583L19.0084 18.3623C18.8099 18.7407 18.4352 18.964 18.0388 18.9962L17.9395 19H11.1902C10.9734 19.0017 10.7601 18.9444 10.5733 18.8342C10.3864 18.7241 10.233 18.5652 10.1295 18.3747L9.98555 18.0955L9.87389 17.866C9.85401 17.8237 9.83436 17.7813 9.81496 17.7388L9.69089 17.4603C9.40767 16.8024 9.17782 16.1228 9.00355 15.428C8.96989 15.2932 8.93763 15.1579 8.90678 15.0223L8.81869 14.6204L8.73991 14.2271L8.67043 13.8468L8.6084 13.4827L8.55443 13.139L8.50852 12.8208L8.45269 12.3971L8.41175 12.0522C8.40817 12.0205 8.40466 11.9889 8.4012 11.9573C8.3882 11.8353 8.39961 11.7121 8.43477 11.5946C8.46992 11.4772 8.52812 11.3679 8.60597 11.2732C8.68381 11.1785 8.77974 11.1003 8.88816 11.043C8.99658 10.9858 9.11531 10.9507 9.23742 10.9399L9.32179 10.9356H11.176L13.6152 8.00879ZM13.3031 13.8648C13.2612 13.7184 13.1668 13.5926 13.0381 13.5113C12.9094 13.43 12.7552 13.3988 12.605 13.4238C12.4548 13.4488 12.3191 13.5282 12.2236 13.6468C12.1281 13.7654 12.0796 13.915 12.0873 14.067L12.0953 14.139L12.4055 16L12.421 16.0707C12.463 16.2171 12.5573 16.3429 12.686 16.4242C12.8148 16.5055 12.9689 16.5367 13.1191 16.5117C13.2693 16.4867 13.4051 16.4074 13.5005 16.2887C13.596 16.1701 13.6445 16.0206 13.6369 15.8685L13.6288 15.7965L13.3186 13.9355L13.3031 13.8648ZM16.5308 13.4256C16.3808 13.4006 16.2269 13.4315 16.0983 13.5125C15.9696 13.5934 15.8752 13.7188 15.8329 13.8648L15.8174 13.9355L15.5072 15.7965C15.4813 15.9526 15.516 16.1127 15.6042 16.244C15.6925 16.3753 15.8275 16.468 15.9818 16.503C16.1361 16.538 16.298 16.5128 16.4342 16.4324C16.5705 16.3521 16.671 16.2227 16.715 16.0707L16.7305 16L17.0407 14.139C17.0676 13.9768 17.029 13.8105 16.9334 13.6767C16.8377 13.543 16.6929 13.4526 16.5308 13.4256ZM14.568 8.80282L12.7907 10.9356H16.3453L14.568 8.80282Z" fill="white"/>
                    </svg>


        .salaries
          h2.h2.salaries__title Акции

          .salaries__slider.swiper
            .swiper-wrapper 
              .swiper-slide.salaries__slide
                .img 
                  img(src="img/sal-slide.webp", alt="#")

                .text 
                  strong Скидка 20% на все услуги автосервиса
                  .endtime 
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24" fill="none">
                      <path d="M17.7454 2.86804L18.3665 6.7979L21.94 8.62029L20.138 12.1836L21.9502 15.747L18.3461 17.5694L17.7251 21.4992L13.7647 20.8782L10.9446 23.6881L8.11424 20.8375L4.18438 21.489L3.55316 17.5286L0 15.7164L1.81221 12.1531L0.010181 8.62029L3.5837 6.77753L4.20474 2.87822L8.14478 3.5298L10.9751 0.668945L13.7952 3.48908L17.7454 2.86804ZM8.42985 7.09314C8.02483 7.09314 7.63639 7.25404 7.35 7.54043C7.0636 7.82683 6.9027 8.21527 6.9027 8.62029C6.9027 9.02532 7.0636 9.41375 7.35 9.70015C7.63639 9.98654 8.02483 10.1474 8.42985 10.1474C8.83488 10.1474 9.22331 9.98654 9.50971 9.70015C9.7961 9.41375 9.957 9.02532 9.957 8.62029C9.957 8.21527 9.7961 7.82683 9.50971 7.54043C9.22331 7.25404 8.83488 7.09314 8.42985 7.09314ZM13.5203 14.2198C13.1153 14.2198 12.7269 14.3807 12.4405 14.6671C12.1541 14.9535 11.9932 15.342 11.9932 15.747C11.9932 16.152 12.1541 16.5404 12.4405 16.8268C12.7269 17.1132 13.1153 17.2741 13.5203 17.2741C13.9254 17.2741 14.3138 17.1132 14.6002 16.8268C14.8866 16.5404 15.0475 16.152 15.0475 15.747C15.0475 15.342 14.8866 14.9535 14.6002 14.6671C14.3138 14.3807 13.9254 14.2198 13.5203 14.2198ZM7.32012 17.2741L16.0656 8.52866L14.6301 7.09314L5.88461 15.8386L7.32012 17.2741Z" fill="#F25767"/>
                    </svg>
                    | до 26 сентября
                  p Приведите друга с 12 по 26 сентября и получите скидку 20% на все услуги нашего автосервиса

              .swiper-slide.salaries__slide
                .img 
                  img(src="img/sal-slide.webp", alt="#")

                .text 
                  strong Скидка 20% на все услуги автосервиса
                  .endtime 
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24" fill="none">
                      <path d="M17.7454 2.86804L18.3665 6.7979L21.94 8.62029L20.138 12.1836L21.9502 15.747L18.3461 17.5694L17.7251 21.4992L13.7647 20.8782L10.9446 23.6881L8.11424 20.8375L4.18438 21.489L3.55316 17.5286L0 15.7164L1.81221 12.1531L0.010181 8.62029L3.5837 6.77753L4.20474 2.87822L8.14478 3.5298L10.9751 0.668945L13.7952 3.48908L17.7454 2.86804ZM8.42985 7.09314C8.02483 7.09314 7.63639 7.25404 7.35 7.54043C7.0636 7.82683 6.9027 8.21527 6.9027 8.62029C6.9027 9.02532 7.0636 9.41375 7.35 9.70015C7.63639 9.98654 8.02483 10.1474 8.42985 10.1474C8.83488 10.1474 9.22331 9.98654 9.50971 9.70015C9.7961 9.41375 9.957 9.02532 9.957 8.62029C9.957 8.21527 9.7961 7.82683 9.50971 7.54043C9.22331 7.25404 8.83488 7.09314 8.42985 7.09314ZM13.5203 14.2198C13.1153 14.2198 12.7269 14.3807 12.4405 14.6671C12.1541 14.9535 11.9932 15.342 11.9932 15.747C11.9932 16.152 12.1541 16.5404 12.4405 16.8268C12.7269 17.1132 13.1153 17.2741 13.5203 17.2741C13.9254 17.2741 14.3138 17.1132 14.6002 16.8268C14.8866 16.5404 15.0475 16.152 15.0475 15.747C15.0475 15.342 14.8866 14.9535 14.6002 14.6671C14.3138 14.3807 13.9254 14.2198 13.5203 14.2198ZM7.32012 17.2741L16.0656 8.52866L14.6301 7.09314L5.88461 15.8386L7.32012 17.2741Z" fill="#F25767"/>
                    </svg>
                    | до 26 сентября
                  p Приведите друга с 12 по 26 сентября и получите скидку 20% на все услуги нашего автосервиса





            .navs 
              button(type="button").n.prev
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                  <path d="M8.21533 5.14594H1.63271M1.63271 5.14594L4.92402 8.43726M1.63271 5.14594L4.92402 1.85463" stroke="#007879" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              button(type="button").n.next
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                  <path d="M1.63281 5.14594H8.21544M8.21544 5.14594L4.92412 8.43726M8.21544 5.14594L4.92412 1.85463" stroke="#007879" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

        .reviews-container
          form(action="#").review-form
            h2.h2.review-form__title Добавить отзыв

            .review-form__grid 
              .col1 
                .input-wrap   
                  label(for="name") Имя
                  input(type="text" name="name" id="name")

                .input-wrap   
                  label(for="name") E-mail
                  input(type="text" name="email" id="email")


              ul.col2.raiting-full-box__list
                li 
                  <fieldset class="rating">
                    <span>Качество услуги</span>
                    
                    div 
                      <input type="radio" name="rating1" title="star5" value="5" />
                      <input type="radio" name="rating1" title="star4" value="4" checked />
                      <input type="radio" name="rating1" title="star3" value="3"  />
                      <input type="radio" name="rating1" title="star2" value="2" />
                      <input type="radio" name="rating1" title="star1" value="1" />
                  </fieldset>

                li 
                  <fieldset class="rating">
                    <span>Цена</span>
                    div 
                      <input type="radio" name="rating2" title="star5" value="5" />
                      <input type="radio" name="rating2" title="star4" value="4" checked  />
                      <input type="radio" name="rating2" title="star3" value="3" />
                      <input type="radio" name="rating2" title="star2" value="2" />
                      <input type="radio" name="rating2" title="star1" value="1" />
                  </fieldset>

                li 
                  <fieldset class="rating">
                    <span>Скорость</span>
                    div 
                      <input type="radio" name="rating3" title="star5" value="5" />
                      <input type="radio" name="rating3" title="star4" value="4" checked />
                      <input type="radio" name="rating3" title="star3" value="3"  />
                      <input type="radio" name="rating3" title="star2" value="2" />
                      <input type="radio" name="rating3" title="star1" value="1" />
                  </fieldset>

              
              .col3
                .input-wrap   
                  label(for="rev") Отзыв
                  textarea#rev(name="rev") 


            <button type="submit" class="primery-btn btn">Опубликовать</button>

          .reviews-list 
            h2.h2.reviews-list__title  2 отзыва  
            .reviews-list__item-container 
              .reviews-list__item
                .reviews-list__item-inner
                  .avatar A

                  .reviews-list__item-content 
                    .item-head 
                      strong Арсений Малахов


                      .stars 
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                          <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                          <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                          <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                          <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none">
                          <path d="M6.0592 1.54698C6.35855 0.625672 7.66196 0.625674 7.96131 1.54699L8.91862 4.49329C9.0525 4.90531 9.43645 5.18427 9.86968 5.18427H12.9676C13.9363 5.18427 14.3391 6.42389 13.5554 6.99329L11.0491 8.81421C10.6986 9.06885 10.552 9.52022 10.6858 9.93224L11.6432 12.8785C11.9425 13.7999 10.888 14.566 10.1043 13.9966L7.59804 12.1757C7.24755 11.921 6.77296 11.921 6.42247 12.1757L3.91619 13.9966C3.13248 14.566 2.078 13.7999 2.37735 12.8785L3.33466 9.93224C3.46854 9.52022 3.32188 9.06885 2.97139 8.81421L0.465113 6.99329C-0.318601 6.42389 0.0841773 5.18427 1.0529 5.18427H4.15083C4.58406 5.18427 4.96801 4.90531 5.10188 4.49329L6.0592 1.54698Z" fill="#D7D8D9"/>
                        </svg>

                    p Огромная благодарность Тарасу за качественный ремонт колеса ночью в субботу. Подход к делу, чистота и профессионализм очень впечатлили.

                    .item-foot 
                      span Час назад
                      button(type="button").commet.strong-text-btn Комментировать

            .reviews-list__item-container 
              .reviews-list__item
                .reviews-list__item-inner 
                  .avatar К

                  .reviews-list__item-content 
                    .item-head 
                      strong Ксюша Пустовецкая


                      .stars 
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                          <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                          <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                          <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                          <path d="M6.72961 1.54698C7.02896 0.625672 8.33237 0.625674 8.63172 1.54699L9.58903 4.49329C9.72291 4.90531 10.1069 5.18427 10.5401 5.18427H13.638C14.6067 5.18427 15.0095 6.42389 14.2258 6.99329L11.7195 8.81421C11.369 9.06885 11.2224 9.52022 11.3563 9.93224L12.3136 12.8785C12.6129 13.7999 11.5584 14.566 10.7747 13.9966L8.26845 12.1757C7.91796 11.921 7.44337 11.921 7.09288 12.1757L4.5866 13.9966C3.80289 14.566 2.74841 13.7999 3.04776 12.8785L4.00507 9.93224C4.13895 9.52022 3.99229 9.06885 3.6418 8.81421L1.13552 6.99329C0.351809 6.42389 0.754587 5.18427 1.72331 5.18427H4.82124C5.25447 5.18427 5.63842 4.90531 5.77229 4.49329L6.72961 1.54698Z" fill="#FFC12F"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none">
                          <path d="M6.0592 1.54698C6.35855 0.625672 7.66196 0.625674 7.96131 1.54699L8.91862 4.49329C9.0525 4.90531 9.43645 5.18427 9.86968 5.18427H12.9676C13.9363 5.18427 14.3391 6.42389 13.5554 6.99329L11.0491 8.81421C10.6986 9.06885 10.552 9.52022 10.6858 9.93224L11.6432 12.8785C11.9425 13.7999 10.888 14.566 10.1043 13.9966L7.59804 12.1757C7.24755 11.921 6.77296 11.921 6.42247 12.1757L3.91619 13.9966C3.13248 14.566 2.078 13.7999 2.37735 12.8785L3.33466 9.93224C3.46854 9.52022 3.32188 9.06885 2.97139 8.81421L0.465113 6.99329C-0.318601 6.42389 0.0841773 5.18427 1.0529 5.18427H4.15083C4.58406 5.18427 4.96801 4.90531 5.10188 4.49329L6.0592 1.54698Z" fill="#D7D8D9"/>
                        </svg>

                    p Персонал толковый, всё сделали быстро и на уровне! после шинки машина поехала ровно! Есть удобный чат-бот для записи на неделю вперёд!

                    .item-foot 
                      span 5 дней назад
                      button(type="button").commet.strong-text-btn Комментировать

                .reviews-list__item
                  .reviews-list__item-inner
                    .avatar(style="background-image: url(img/ava.png)")

                    .reviews-list__item-content 
                      .item-head 
                        .admin-nik Владелец

                      p Спасибо за хорошую оценку! Будем рады видеть вас снова!

                      .item-foot 
                        span 5 дней назад

        section.top5-section
          h2.h1.top5-section__title ТОП 5 СТО

          .sto-short
            .num 1
            <button class="fav" type="button" aria-label="В избранное">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                <path d="M14.6259 2.55029C14.27 2.19426 13.8475 1.91182 13.3824 1.71912C12.9174 1.52643 12.4189 1.42725 11.9155 1.42725C11.4121 1.42725 10.9136 1.52643 10.4486 1.71912C9.98353 1.91182 9.561 2.19426 9.20513 2.55029L8.46657 3.28886L7.728 2.55029C7.00917 1.83146 6.03421 1.42762 5.01763 1.42762C4.00104 1.42762 3.02608 1.83146 2.30725 2.55029C1.58841 3.26913 1.18457 4.24408 1.18457 5.26067C1.18457 6.27726 1.58841 7.25222 2.30725 7.97105L8.46657 14.1304L14.6259 7.97105C14.9819 7.61518 15.2644 7.19265 15.4571 6.72759C15.6498 6.26254 15.7489 5.76407 15.7489 5.26067C15.7489 4.75728 15.6498 4.25881 15.4571 3.79376C15.2644 3.3287 14.9819 2.90617 14.6259 2.55029Z" stroke="#D7D8D9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg> 
            </button>
            .sto-short__head
              .avatar(style="background-image: url(img/sto2.jpg)") 

              .col 
                <div class="lbls"> 
                  <div class="lbl ">TOP</div>
                  <div class="lbl  lbl--dark">VIP</div>
                </div>

                a(href="#") Автомотив Wash 

                .raiting-row 
                  <div class="summary-raiting">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none">
                      <path d="M6.75744 1.07134C7.05679 0.150025 8.3602 0.150028 8.65955 1.07134L9.61687 4.01764C9.75074 4.42967 10.1347 4.70863 10.5679 4.70863H13.6659C14.6346 4.70863 15.0373 5.94824 14.2536 6.51764L11.7474 8.33856C11.3969 8.5932 11.2502 9.04457 11.3841 9.45659L12.3414 12.4029C12.6408 13.3242 11.5863 14.0903 10.8026 13.5209L8.29628 11.7C7.94579 11.4454 7.4712 11.4454 7.12071 11.7L4.61443 13.5209C3.83072 14.0903 2.77624 13.3242 3.07559 12.4029L4.03291 9.45659C4.16678 9.04457 4.02012 8.5932 3.66963 8.33856L1.16336 6.51764C0.379641 5.94824 0.782419 4.70863 1.75114 4.70863H4.84907C5.2823 4.70863 5.66625 4.42967 5.80013 4.01764L6.75744 1.07134Z" fill="#FFC12F"></path>
                    </svg>
                    | 4.0
                  </div>

                  <a class="reviews-link" href="#"><img src="img/svg/reviews.svg" alt="#">225  </a>

            .sto-short__body
              p г. Алматы, р-н Святошинский, ул. Кольцевая 4
              <div class="comp-card__time">
                <div class="dot" style="background-color: #36B752"> </div>круглосуточно
              </div>

              <div class="q-contacts-row"> 
                <a class="q-contact tel" href="#" aria-label="#"><img src="img/svg/tel.svg" alt="#"></a>
                <a class="q-contact watsapp" href="#" aria-label="#"><img src="img/svg/watsapp.svg" alt="#"></a>
                <a class="q-contact tg" href="#" aria-label="#"><img src="img/svg/tg.svg" alt="#"></a>
                <a class="send-order xs btn primery-btn" href="#">Заявка</a>
              </div>

          .sto-short
            .num 2
            <button class="fav" type="button" aria-label="В избранное">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                <path d="M14.6259 2.55029C14.27 2.19426 13.8475 1.91182 13.3824 1.71912C12.9174 1.52643 12.4189 1.42725 11.9155 1.42725C11.4121 1.42725 10.9136 1.52643 10.4486 1.71912C9.98353 1.91182 9.561 2.19426 9.20513 2.55029L8.46657 3.28886L7.728 2.55029C7.00917 1.83146 6.03421 1.42762 5.01763 1.42762C4.00104 1.42762 3.02608 1.83146 2.30725 2.55029C1.58841 3.26913 1.18457 4.24408 1.18457 5.26067C1.18457 6.27726 1.58841 7.25222 2.30725 7.97105L8.46657 14.1304L14.6259 7.97105C14.9819 7.61518 15.2644 7.19265 15.4571 6.72759C15.6498 6.26254 15.7489 5.76407 15.7489 5.26067C15.7489 4.75728 15.6498 4.25881 15.4571 3.79376C15.2644 3.3287 14.9819 2.90617 14.6259 2.55029Z" stroke="#D7D8D9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg> 
            </button>
            .sto-short__head
              .avatar(style="background-image: url(img/sto2.jpg)") 

              .col 
                <div class="lbls"> 
                  <div class="lbl ">TOP</div>
                  <div class="lbl  lbl--dark">VIP</div>
                </div>

                a(href="#") WOG

                .raiting-row 
                  <div class="summary-raiting">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none">
                      <path d="M6.75744 1.07134C7.05679 0.150025 8.3602 0.150028 8.65955 1.07134L9.61687 4.01764C9.75074 4.42967 10.1347 4.70863 10.5679 4.70863H13.6659C14.6346 4.70863 15.0373 5.94824 14.2536 6.51764L11.7474 8.33856C11.3969 8.5932 11.2502 9.04457 11.3841 9.45659L12.3414 12.4029C12.6408 13.3242 11.5863 14.0903 10.8026 13.5209L8.29628 11.7C7.94579 11.4454 7.4712 11.4454 7.12071 11.7L4.61443 13.5209C3.83072 14.0903 2.77624 13.3242 3.07559 12.4029L4.03291 9.45659C4.16678 9.04457 4.02012 8.5932 3.66963 8.33856L1.16336 6.51764C0.379641 5.94824 0.782419 4.70863 1.75114 4.70863H4.84907C5.2823 4.70863 5.66625 4.42967 5.80013 4.01764L6.75744 1.07134Z" fill="#FFC12F"></path>
                    </svg>
                    | 4.0
                  </div>

                  <a class="reviews-link" href="#"><img src="img/svg/reviews.svg" alt="#">225  </a>

            .sto-short__body
              p г. Алматы, р-н Святошинский, ул. Кольцевая 4
              <div class="comp-card__time">
                <div class="dot" style="background-color: #36B752"> </div>круглосуточно
              </div>

              <div class="q-contacts-row"> 
                <a class="q-contact tel" href="#" aria-label="#"><img src="img/svg/tel.svg" alt="#"></a>
                <a class="q-contact watsapp" href="#" aria-label="#"><img src="img/svg/watsapp.svg" alt="#"></a>
                <a class="q-contact tg" href="#" aria-label="#"><img src="img/svg/tg.svg" alt="#"></a>
                <a class="send-order xs btn primery-btn" href="#">Заявка</a>
              </div>

        section.similar-section
          h2.h1.similar-section__title Похожие СТО

          include ../../components/sto-card/sto-card

          ul
            li 
              +sto
            li 
              +sto
            li
              +sto


          <button class="show-more primery-btn" type="button">Показать еще</button>
