extends ../layouts/default


block variables
	- const title = "Добавить компанию";

block content
	include ../../blocks/modules/header/header

	main 
		include ../../blocks/modules/add-company/add-company

	include ../../blocks/modules/footer/footer

block scripts
	<script id="js_map" src="https://maps.googleapis.com/maps/api/js?key"></script>
	script(src="js/vendor.js")
	script(src="js/main.js")