mixin sto(id)
  div(data-id=id class=cls + " comp-card") 
    .comp-card__logo
      .default-logo 
        img(src="img/svg/gear.svg", alt="#" width="20" height="20")

      .views 
        img(src="img/svg/aye.svg", alt="#" width="18.333" height="12.5")
        span 6700

    .comp-card__info
      .comp-card__title 
        a(href="#") Onecar 
        button.fav(type="button" aria-label="В избранное") 
          <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
            <path d="M14.6259 2.55029C14.27 2.19426 13.8475 1.91182 13.3824 1.71912C12.9174 1.52643 12.4189 1.42725 11.9155 1.42725C11.4121 1.42725 10.9136 1.52643 10.4486 1.71912C9.98353 1.91182 9.561 2.19426 9.20513 2.55029L8.46657 3.28886L7.728 2.55029C7.00917 1.83146 6.03421 1.42762 5.01763 1.42762C4.00104 1.42762 3.02608 1.83146 2.30725 2.55029C1.58841 3.26913 1.18457 4.24408 1.18457 5.26067C1.18457 6.27726 1.58841 7.25222 2.30725 7.97105L8.46657 14.1304L14.6259 7.97105C14.9819 7.61518 15.2644 7.19265 15.4571 6.72759C15.6498 6.26254 15.7489 5.76407 15.7489 5.26067C15.7489 4.75728 15.6498 4.25881 15.4571 3.79376C15.2644 3.3287 14.9819 2.90617 14.6259 2.55029Z" stroke="#D7D8D9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg> 

      p г. Алматы, р-н Святошинский, ул. Кольцевая 4

      .comp-card__time
        .dot(style="background-color: #F25767") 
        | до 18:30

    .comp-card__more
      .rating-row
        .rating 
          .stars  
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
              <path d="M6.04894 0.927048C6.3483 0.00573778 7.6517 0.0057404 7.95106 0.927051L8.90837 3.87336C9.04224 4.28538 9.4262 4.56434 9.85943 4.56434H12.9574C13.9261 4.56434 14.3289 5.80395 13.5451 6.37336L11.0389 8.19427C10.6884 8.44892 10.5417 8.90028 10.6756 9.31231L11.6329 12.2586C11.9323 13.1799 10.8778 13.946 10.0941 13.3766L7.58778 11.5557C7.2373 11.3011 6.7627 11.3011 6.41221 11.5557L3.90594 13.3766C3.12222 13.946 2.06774 13.1799 2.3671 12.2586L3.32441 9.3123C3.45828 8.90028 3.31162 8.44892 2.96114 8.19427L0.454859 6.37335C-0.328855 5.80395 0.0739233 4.56434 1.04265 4.56434H4.14057C4.5738 4.56434 4.95776 4.28538 5.09163 3.87336L6.04894 0.927048Z" fill="#FFC12F"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
              <path d="M6.04894 0.927048C6.3483 0.00573778 7.6517 0.0057404 7.95106 0.927051L8.90837 3.87336C9.04224 4.28538 9.4262 4.56434 9.85943 4.56434H12.9574C13.9261 4.56434 14.3289 5.80395 13.5451 6.37336L11.0389 8.19427C10.6884 8.44892 10.5417 8.90028 10.6756 9.31231L11.6329 12.2586C11.9323 13.1799 10.8778 13.946 10.0941 13.3766L7.58778 11.5557C7.2373 11.3011 6.7627 11.3011 6.41221 11.5557L3.90594 13.3766C3.12222 13.946 2.06774 13.1799 2.3671 12.2586L3.32441 9.3123C3.45828 8.90028 3.31162 8.44892 2.96114 8.19427L0.454859 6.37335C-0.328855 5.80395 0.0739233 4.56434 1.04265 4.56434H4.14057C4.5738 4.56434 4.95776 4.28538 5.09163 3.87336L6.04894 0.927048Z" fill="#FFC12F"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
              <path d="M6.04894 0.927048C6.3483 0.00573778 7.6517 0.0057404 7.95106 0.927051L8.90837 3.87336C9.04224 4.28538 9.4262 4.56434 9.85943 4.56434H12.9574C13.9261 4.56434 14.3289 5.80395 13.5451 6.37336L11.0389 8.19427C10.6884 8.44892 10.5417 8.90028 10.6756 9.31231L11.6329 12.2586C11.9323 13.1799 10.8778 13.946 10.0941 13.3766L7.58778 11.5557C7.2373 11.3011 6.7627 11.3011 6.41221 11.5557L3.90594 13.3766C3.12222 13.946 2.06774 13.1799 2.3671 12.2586L3.32441 9.3123C3.45828 8.90028 3.31162 8.44892 2.96114 8.19427L0.454859 6.37335C-0.328855 5.80395 0.0739233 4.56434 1.04265 4.56434H4.14057C4.5738 4.56434 4.95776 4.28538 5.09163 3.87336L6.04894 0.927048Z" fill="#FFC12F"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
              <path d="M6.04894 0.927048C6.3483 0.00573778 7.6517 0.0057404 7.95106 0.927051L8.90837 3.87336C9.04224 4.28538 9.4262 4.56434 9.85943 4.56434H12.9574C13.9261 4.56434 14.3289 5.80395 13.5451 6.37336L11.0389 8.19427C10.6884 8.44892 10.5417 8.90028 10.6756 9.31231L11.6329 12.2586C11.9323 13.1799 10.8778 13.946 10.0941 13.3766L7.58778 11.5557C7.2373 11.3011 6.7627 11.3011 6.41221 11.5557L3.90594 13.3766C3.12222 13.946 2.06774 13.1799 2.3671 12.2586L3.32441 9.3123C3.45828 8.90028 3.31162 8.44892 2.96114 8.19427L0.454859 6.37335C-0.328855 5.80395 0.0739233 4.56434 1.04265 4.56434H4.14057C4.5738 4.56434 4.95776 4.28538 5.09163 3.87336L6.04894 0.927048Z" fill="#FFC12F"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
              <path d="M6.04894 0.927048C6.3483 0.00573778 7.6517 0.0057404 7.95106 0.927051L8.90837 3.87336C9.04224 4.28538 9.4262 4.56434 9.85943 4.56434H12.9574C13.9261 4.56434 14.3289 5.80395 13.5451 6.37336L11.0389 8.19427C10.6884 8.44892 10.5417 8.90028 10.6756 9.31231L11.6329 12.2586C11.9323 13.1799 10.8778 13.946 10.0941 13.3766L7.58778 11.5557C7.2373 11.3011 6.7627 11.3011 6.41221 11.5557L3.90594 13.3766C3.12222 13.946 2.06774 13.1799 2.3671 12.2586L3.32441 9.3123C3.45828 8.90028 3.31162 8.44892 2.96114 8.19427L0.454859 6.37335C-0.328855 5.80395 0.0739233 4.56434 1.04265 4.56434H4.14057C4.5738 4.56434 4.95776 4.28538 5.09163 3.87336L6.04894 0.927048Z" fill="#D7D8D9"/>
            </svg>

          strong 4.0

        a(href="#").reviews-link
          img(src="img/svg/reviews.svg", alt="#")
          | 20 отзывов 


        .views 
          img(src="img/svg/aye.svg", alt="#" width="18.333" height="12.5")
          span 6700