include ../../components/btn/btn

mixin stoprime(id, cls="") 
  div(data-id=id class=cls + " comp-card comp-card--primery") 
    .comp-card__logo
      .logo 
        img(src="img/sto.webp", alt="#" width="90" height="90")

      .views 
        img(src="img/svg/aye.svg", alt="#" width="18.333" height="12.5")
        span 70 000

    .comp-card__info
      .comp-card__title 
        <div class="lbls">
          <div class="lbl">TOP</div>
          <div class="lbl lbl--dark">VIP</div>
        </div>
        a(href="#") Автомотив Wash
        button.fav(type="button" aria-label="В избранное") 
          <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
            <path d="M14.6259 2.55029C14.27 2.19426 13.8475 1.91182 13.3824 1.71912C12.9174 1.52643 12.4189 1.42725 11.9155 1.42725C11.4121 1.42725 10.9136 1.52643 10.4486 1.71912C9.98353 1.91182 9.561 2.19426 9.20513 2.55029L8.46657 3.28886L7.728 2.55029C7.00917 1.83146 6.03421 1.42762 5.01763 1.42762C4.00104 1.42762 3.02608 1.83146 2.30725 2.55029C1.58841 3.26913 1.18457 4.24408 1.18457 5.26067C1.18457 6.27726 1.58841 7.25222 2.30725 7.97105L8.46657 14.1304L14.6259 7.97105C14.9819 7.61518 15.2644 7.19265 15.4571 6.72759C15.6498 6.26254 15.7489 5.76407 15.7489 5.26067C15.7489 4.75728 15.6498 4.25881 15.4571 3.79376C15.2644 3.3287 14.9819 2.90617 14.6259 2.55029Z" stroke="#D7D8D9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg> 

      p г. Алматы, р-н Святошинский, ул. Кольцевая 4

      .comp-card__time
        .dot(style="background-color: #36B752") 
        | круглосуточно

      .q-contacts-row 
        a(href="#" aria-label="#").q-contact.tel
          img(src="img/svg/tel.svg", alt="#")
        a(href="#" aria-label="#").q-contact.watsapp
          img(src="img/svg/watsapp.svg", alt="#")
        a(href="#" aria-label="#").q-contact.tg
          img(src="img/svg/tg.svg", alt="#")

        +btn-link('send-order xs', '#')
          | Отправить заявку

    .comp-card__more
      .comp-card__descr 
        p г. Алматы, р-н Святошинский, ул. Кольцевая 4

        .comp-card__time
          .dot(style="background-color: #36B752") 
          | круглосуточно

      .rating-row
        .rating 
          .stars  
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
              <path d="M6.04894 0.927048C6.3483 0.00573778 7.6517 0.0057404 7.95106 0.927051L8.90837 3.87336C9.04224 4.28538 9.4262 4.56434 9.85943 4.56434H12.9574C13.9261 4.56434 14.3289 5.80395 13.5451 6.37336L11.0389 8.19427C10.6884 8.44892 10.5417 8.90028 10.6756 9.31231L11.6329 12.2586C11.9323 13.1799 10.8778 13.946 10.0941 13.3766L7.58778 11.5557C7.2373 11.3011 6.7627 11.3011 6.41221 11.5557L3.90594 13.3766C3.12222 13.946 2.06774 13.1799 2.3671 12.2586L3.32441 9.3123C3.45828 8.90028 3.31162 8.44892 2.96114 8.19427L0.454859 6.37335C-0.328855 5.80395 0.0739233 4.56434 1.04265 4.56434H4.14057C4.5738 4.56434 4.95776 4.28538 5.09163 3.87336L6.04894 0.927048Z" fill="#FFC12F"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
              <path d="M6.04894 0.927048C6.3483 0.00573778 7.6517 0.0057404 7.95106 0.927051L8.90837 3.87336C9.04224 4.28538 9.4262 4.56434 9.85943 4.56434H12.9574C13.9261 4.56434 14.3289 5.80395 13.5451 6.37336L11.0389 8.19427C10.6884 8.44892 10.5417 8.90028 10.6756 9.31231L11.6329 12.2586C11.9323 13.1799 10.8778 13.946 10.0941 13.3766L7.58778 11.5557C7.2373 11.3011 6.7627 11.3011 6.41221 11.5557L3.90594 13.3766C3.12222 13.946 2.06774 13.1799 2.3671 12.2586L3.32441 9.3123C3.45828 8.90028 3.31162 8.44892 2.96114 8.19427L0.454859 6.37335C-0.328855 5.80395 0.0739233 4.56434 1.04265 4.56434H4.14057C4.5738 4.56434 4.95776 4.28538 5.09163 3.87336L6.04894 0.927048Z" fill="#FFC12F"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
              <path d="M6.04894 0.927048C6.3483 0.00573778 7.6517 0.0057404 7.95106 0.927051L8.90837 3.87336C9.04224 4.28538 9.4262 4.56434 9.85943 4.56434H12.9574C13.9261 4.56434 14.3289 5.80395 13.5451 6.37336L11.0389 8.19427C10.6884 8.44892 10.5417 8.90028 10.6756 9.31231L11.6329 12.2586C11.9323 13.1799 10.8778 13.946 10.0941 13.3766L7.58778 11.5557C7.2373 11.3011 6.7627 11.3011 6.41221 11.5557L3.90594 13.3766C3.12222 13.946 2.06774 13.1799 2.3671 12.2586L3.32441 9.3123C3.45828 8.90028 3.31162 8.44892 2.96114 8.19427L0.454859 6.37335C-0.328855 5.80395 0.0739233 4.56434 1.04265 4.56434H4.14057C4.5738 4.56434 4.95776 4.28538 5.09163 3.87336L6.04894 0.927048Z" fill="#FFC12F"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
              <path d="M6.04894 0.927048C6.3483 0.00573778 7.6517 0.0057404 7.95106 0.927051L8.90837 3.87336C9.04224 4.28538 9.4262 4.56434 9.85943 4.56434H12.9574C13.9261 4.56434 14.3289 5.80395 13.5451 6.37336L11.0389 8.19427C10.6884 8.44892 10.5417 8.90028 10.6756 9.31231L11.6329 12.2586C11.9323 13.1799 10.8778 13.946 10.0941 13.3766L7.58778 11.5557C7.2373 11.3011 6.7627 11.3011 6.41221 11.5557L3.90594 13.3766C3.12222 13.946 2.06774 13.1799 2.3671 12.2586L3.32441 9.3123C3.45828 8.90028 3.31162 8.44892 2.96114 8.19427L0.454859 6.37335C-0.328855 5.80395 0.0739233 4.56434 1.04265 4.56434H4.14057C4.5738 4.56434 4.95776 4.28538 5.09163 3.87336L6.04894 0.927048Z" fill="#FFC12F"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
              <path d="M6.04894 0.927048C6.3483 0.00573778 7.6517 0.0057404 7.95106 0.927051L8.90837 3.87336C9.04224 4.28538 9.4262 4.56434 9.85943 4.56434H12.9574C13.9261 4.56434 14.3289 5.80395 13.5451 6.37336L11.0389 8.19427C10.6884 8.44892 10.5417 8.90028 10.6756 9.31231L11.6329 12.2586C11.9323 13.1799 10.8778 13.946 10.0941 13.3766L7.58778 11.5557C7.2373 11.3011 6.7627 11.3011 6.41221 11.5557L3.90594 13.3766C3.12222 13.946 2.06774 13.1799 2.3671 12.2586L3.32441 9.3123C3.45828 8.90028 3.31162 8.44892 2.96114 8.19427L0.454859 6.37335C-0.328855 5.80395 0.0739233 4.56434 1.04265 4.56434H4.14057C4.5738 4.56434 4.95776 4.28538 5.09163 3.87336L6.04894 0.927048Z" fill="#D7D8D9"/>
            </svg>

          strong 4.0

        a(href="#").reviews-link
          img(src="img/svg/reviews.svg", alt="#")
          | 225 отзывов

        .views 
          img(src="img/svg/aye.svg", alt="#" width="18.333" height="12.5")
          span 70 000


        .lbls
          .lbl TOP
          .lbl.lbl--dark VIP

      .gallery-row
        .gallery-row__item
          img(src="img/b21a80947236af8b8caf0ba85cef13df.png", width="72.687" height="42.638px" alt="#")
        .gallery-row__item
          img(src="img/b21a80947236af8b8caf0ba85cef13df.png", width="72.687" height="42.638px" alt="#")
        .gallery-row__item
          img(src="img/b21a80947236af8b8caf0ba85cef13df.png", width="72.687" height="42.638px" alt="#")
        .gallery-row__item
          img(src="img/b21a80947236af8b8caf0ba85cef13df.png", width="72.687" height="42.638px" alt="#")


      a(href="#").accent-filled-link
        <svg class="ic" xmlns="http://www.w3.org/2000/svg" width="19" height="20" viewBox="0 0 19 20" fill="none">
          <path d="M15.1559 2.23388L15.6709 5.49294L18.6345 7.00426L17.14 9.95937L18.6429 12.9145L15.654 14.4258L15.139 17.6849L11.8546 17.1698L9.51585 19.5001L7.16865 17.1361L3.90959 17.6764L3.38612 14.392L0.439453 12.8891L1.94234 9.93404L0.447896 7.00426L3.41144 5.47605L3.92648 2.24232L7.19398 2.78268L9.54118 0.410156L11.8799 2.74891L15.1559 2.23388ZM7.43039 5.73779C7.0945 5.73779 6.77237 5.87122 6.53486 6.10873C6.29735 6.34624 6.16391 6.66837 6.16391 7.00426C6.16391 7.34015 6.29735 7.66229 6.53486 7.8998C6.77237 8.13731 7.0945 8.27074 7.43039 8.27074C7.76628 8.27074 8.08841 8.13731 8.32592 7.8998C8.56343 7.66229 8.69686 7.34015 8.69686 7.00426C8.69686 6.66837 8.56343 6.34624 8.32592 6.10873C8.08841 5.87122 7.76628 5.73779 7.43039 5.73779ZM11.652 11.648C11.3161 11.648 10.9939 11.7814 10.7564 12.0189C10.5189 12.2565 10.3855 12.5786 10.3855 12.9145C10.3855 13.2504 10.5189 13.5725 10.7564 13.81C10.9939 14.0475 11.3161 14.1809 11.652 14.1809C11.9879 14.1809 12.31 14.0475 12.5475 13.81C12.785 13.5725 12.9184 13.2504 12.9184 12.9145C12.9184 12.5786 12.785 12.2565 12.5475 12.0189C12.31 11.7814 11.9879 11.648 11.652 11.648ZM6.51008 14.1809L13.7628 6.92827L12.5723 5.73779L5.3196 12.9905L6.51008 14.1809Z" fill="#F25767"/>
        </svg>

        span Действует рассрочка  - 0 - 0 - 24 

        <svg class="arr" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
          <path d="M1.26562 4.75513H8.63232M8.63232 4.75513L4.94897 8.43848M8.63232 4.75513L4.94897 1.07178" stroke="#F25767" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>


      .q-contacts-row 
        a(href="#" aria-label="#").q-contact.tel
          img(src="img/svg/tel.svg", alt="#")
        a(href="#" aria-label="#").q-contact.watsapp
          img(src="img/svg/watsapp.svg", alt="#")
        a(href="#" aria-label="#").q-contact.tg
          img(src="img/svg/tg.svg", alt="#")

        +btn-link('send-order xs', '#')
          | Отправить заявку