.cabinet-widget 
  .count 
    | 1

  .cabinet-widget__avatar
    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="14" viewBox="0 0 13 14" fill="none">
      <path d="M11.8359 12.9854V11.7354C11.8359 11.0723 11.5725 10.4364 11.1037 9.96759C10.6349 9.49874 9.99898 9.23535 9.33594 9.23535H4.33594C3.6729 9.23535 3.03701 9.49874 2.56817 9.96759C2.09933 10.4364 1.83594 11.0723 1.83594 11.7354V12.9854M9.33594 4.23535C9.33594 5.61606 8.21665 6.73535 6.83594 6.73535C5.45523 6.73535 4.33594 5.61606 4.33594 4.23535C4.33594 2.85464 5.45523 1.73535 6.83594 1.73535C8.21665 1.73535 9.33594 2.85464 9.33594 4.23535Z" stroke="#007879" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

  a(href="#") Личный кабинет 


  <ul> 
    <li> <a href="#">Мой аккаунт</a></li>
    <li> <a href="#">  Мои объявления</a></li>
    <li> <a href="#"> Избранные</a></li>
    <li> <a href="#"> Биллинг</a></li>
    <li> <a href="#"> Реферальная система</a></li>
    <li> <a href="#"> Выход</a></li>
  </ul>