.breadcrumbs {
  li {
    display: inline-block;
    position: relative;

    a, span {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
      color: var(--txt);
    }

    &:not(:last-child) {
      padding-right: 26px;

      &:after {
        content: "";
        position: absolute;
        top: 54%;
        right: 7px;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        background-image: url('../img/svg/crumbs-arrow.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}