.catalog-grid {
  display: grid;
  grid-template-columns: 308px 1fr;
  border-bottom: 2px solid #EBEFF8;
}

.catalog-content, .catalog-sidebar {
  padding-top: 37px;
  padding-bottom: 89px;
  padding-left: 50px;
  padding-right: 50px;
}

.catalog-sidebar  {
  border-right: 2px solid #EBEFF8;
 
}

.catalog-content {
  

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__title {
    position: relative;
    width: fit-content;
    margin-bottom: 29.5px;

    .count {
      display: inline-block;
      position: static;
      top: 0;
      left: calc(100% + 9px);
      padding: 3.5px 7.15px 4.5px;
      font-size: 10px;
      line-height: 10px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      border-radius: 20px;
      background: #E1E8F8;
      /* margin-top: -2px; */
      transform: translateY(-21px);
    }
  }

  .show-more {
    margin-left: auto;
    margin-right: auto;
    margin-top: 72px;
    min-width: 206px;
  }
}

.show-on-map  {
  padding: 0;
  border: none;
  background: none;
 
  .btn-inner {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--accent);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}


.catalog-sidebar {
  &__box + &__box {
    margin-top: 24px;
  }

  .catalog-filter-form {
    padding-top: 8px;
  }

  &__box  {

    &-title {
      display: block;
      color: var(--text);
      font-size: 14px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-bottom: 15px;

      &.mb {
        margin-bottom: 24px;
      }
    }

    &-ex {
      display: block;
      color: #A3AAB9;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 7px;
    }

    .check-wrap  {
      width: calc(100% + 2px);
    }
  }
}


.comp-card__title .lbls, .comp-card__descr, .rating-row .views, .comp-card__more .q-contacts-row    {
  display: none;
}


.points-map {
  display: none;
  width: 100%;
  height: 500px;
  border-radius: 10px 10px 0 0;
}

.sto-cards-list.onmap {
  .comp-card:not(.active) {
    display: none;
  }

  .comp-card.active {
    margin-top: -10px;
  }

  .comp-card {
    transform: translateY(20px);
    transition: all .2s ease-in;
    opacity: 0;

    &.animated {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .show-more {
    display: none;
  }

  .points-map {
    display: block;
  }
}


.show-on-map:not(.active) {
  .btn-inner--list {
    display: none;
  }

  .btn-inner--map  {
    display: flex;
  }
}

.show-on-map:is(.active) {
  .btn-inner--list {
    display: flex;
  }

  .btn-inner--map  {
    display: none;
  }
}

