.catalog-grid {
  display: grid;
  grid-template-columns: 308px 1fr;
  border-bottom: 2px solid #EBEFF8;
}

.catalog-content, .catalog-sidebar {
  padding-top: 42px;
  padding-bottom: 89px;
  padding-left: 50px;
  padding-right: 50px;
}

.catalog-sidebar  {
  border-right: 2px solid #EBEFF8;
 
}

.catalog-content {
  

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 13px;
  }

  &__title {
    position: relative;
    width: fit-content;
    margin-bottom: 29.5px;

    .count {
      position: absolute;
      top: 0;
      left: calc(100% + 9px);
      padding: 3.5px 7.15px 4.5px;
      font-size: 10px;
      line-height: 10px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      border-radius: 20px;
      background: #E1E8F8;
    }
  }

  .show-more {
    margin-left: auto;
    margin-right: auto;
    margin-top: 72px;
    min-width: 206px;
  }
}

.show-on-map  {
  padding: 0;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--accent);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}