.level.level3
  strong.level__title Создание сайтов

  ul
    li
      .level-item
        a(href="#") JavaScript
    li
      .level-item
        a(href="#") Backend-разработка
    li
      .level-item
        a(href="#") Git
    li
      .level-item
        a(href="#") PHP
    li
      .level-item
        a(href="#") Frontend-разработка