.level.level2
  strong.level__title Веб-разработка

  ul
    li.has-child
      .level-item
        a(href="#") Python
      include ./level3
    li
      .level-item
        a(href="#") Java
    li.has-child
      .level-item
        a(href="#") Postman
      include ./level3
    li.has-child
      .level-item
        a(href="#") HTML
      include ./level3
    li.has-child
      .level-item
        a(href="#") Kotlin
      include ./level3
    li.has-child
      .level-item
        a(href="#") Создание сайтов
      include ./level3
    li
      .level-item
        a(href="#") JavaScript
    li
      .level-item
        a(href="#") Backend-разработка
    li
      .level-item
        a(href="#") Git
    li
      .level-item
        a(href="#") PHP
    li.has-child
      .level-item
        a(href="#") Frontend-разработка
      include ./level3