.level.level2
  button(type="button").level-back-btn
    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
      <path d="M9.02246 5H1.02246M1.02246 5L5.02246 9M1.02246 5L5.02246 1" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    | Назад

  strong.level__title Веб-разработка

  ul
    li.has-child
      .level-item
        a(href="#") Python
      include ./level3
    li
      .level-item
        a(href="#") Java
    li.has-child
      .level-item
        a(href="#") Postman
      include ./level3
    li.has-child
      .level-item
        a(href="#") HTML
      include ./level3
    li.has-child
      .level-item
        a(href="#") Kotlin
      include ./level3
    li.has-child
      .level-item
        a(href="#") Создание сайтов
      include ./level3
    li
      .level-item
        a(href="#") JavaScript
    li
      .level-item
        a(href="#") Backend-разработка
    li
      .level-item
        a(href="#") Git
    li
      .level-item
        a(href="#") PHP
    li.has-child
      .level-item
        a(href="#") Frontend-разработка
      include ./level3