include ../../components/btn/btn
include ../../components/txt-btn/txt-btn

footer.main-footer 
  .main-footer__cats 
    .container 
      .main-footer__cats-inner
        .col
          .cats-list 
            strong.cats-list__title Эвакуаторы

            ul 
              li 
                a(href="#") Эвакуаторы с лебедкой
              li 
                a(href="#") Эвакуаторы с гидроманипулятором 
              li 
                a(href="#") Эвакуаторы кран-манипуляторы
              li  
                a(href="#") Эвакуаторы с прямой платформой 
              li 
                a(href="#") Эвакуаторы с ломаной платформой 
              li 
                a(href="#") Эвакуаторы со сдвижной платформой
              li 
                a(href="#") Эвакуаторы с частичной погрузкой

          .cats-list 
            strong.cats-list__title Автоателье

            ul
              li 
                a(href="#") Эвакуаторы с частичной погрузкой
              li 
                a(href="#") Эвакуаторы с гидроманипулятором 
              li 
                a(href="#") Эвакуаторы кран-манипуляторы
              li 
                a(href="#") Эвакуаторы со сдвижной платформой
              li 
                a(href="#") Эвакуаторы с частичной погрузкой   

        .col
          .cats-list 
            strong.cats-list__title Автоателье

            ul
              li 
                a(href="#") Эвакуаторы с частичной погрузкой
              li 
                a(href="#") Эвакуаторы с гидроманипулятором 
              li 
                a(href="#") Эвакуаторы кран-манипуляторы
              li 
                a(href="#") Эвакуаторы со сдвижной платформой
              li 
                a(href="#") Эвакуаторы с частичной погрузкой  

          .cats-list 
            strong.cats-list__title Автошколы

            ul
              li 
                a(href="#") Эвакуаторы с прямой платформой 
              li 
                a(href="#") Эвакуаторы с гидроманипулятором 
              li 
                a(href="#") Эвакуаторы кран-манипуляторы
              li 
                a(href="#") Эвакуаторы с прямой платформой 
              li 
                a(href="#") Эвакуаторы со сдвижной платформой
              li 
                a(href="#") Эвакуаторы с частичной погрузкой
              li 
                a(href="#") Эвакуаторы с прямой платформой        

        .col
          .cats-list 
            strong.cats-list__title Автошколы

            ul
              li 
                a(href="#") Эвакуаторы с прямой платформой 
              li 
                a(href="#") Эвакуаторы с гидроманипулятором 
              li 
                a(href="#") Эвакуаторы кран-манипуляторы
              li 
                a(href="#") Эвакуаторы с прямой платформой 
              li 
                a(href="#") Эвакуаторы со сдвижной платформой
              li 
                a(href="#") Эвакуаторы с частичной погрузкой
              li 
                a(href="#") Эвакуаторы с прямой платформой 

          .cats-list 
            strong.cats-list__title Автоателье

            ul
              li 
                a(href="#") Эвакуаторы с частичной погрузкой
              li 
                a(href="#") Эвакуаторы с гидроманипулятором 
              li 
                a(href="#") Эвакуаторы кран-манипуляторы
              li 
                a(href="#") Эвакуаторы со сдвижной платформой
              li 
                a(href="#") Эвакуаторы с частичной погрузкой       
        
        .col
          .cats-list 
            strong.cats-list__title Автоателье

            ul
              li 
                a(href="#") Эвакуаторы с частичной погрузкой
              li 
                a(href="#") Эвакуаторы с гидроманипулятором 
              li 
                a(href="#") Эвакуаторы кран-манипуляторы
              li 
                a(href="#") Эвакуаторы со сдвижной платформой
              li 
                a(href="#") Эвакуаторы с частичной погрузкой 

          .cats-list 
            strong.cats-list__title Автоателье

            ul
              li 
                a(href="#") Эвакуаторы с частичной погрузкой
              li 
                a(href="#") Эвакуаторы с гидроманипулятором 
              li 
                a(href="#") Эвакуаторы кран-манипуляторы
              li 
                a(href="#") Эвакуаторы со сдвижной платформой
              li 
                a(href="#") Эвакуаторы с частичной погрузкой  

    +btn-button-collapse('btn dark drop js-btn-collapse') 
      span Показать больше
      <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
        <path d="M1.92188 0.994629L4.99977 4.07252L8.07766 0.994629" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>

  .main-footer__content 
    .container 
      .main-footer__content-inner 
        .col 
          .logo 
            a(href="#")
              img(src="img/svg/logo-green.svg" alt="#" width="124.67" height="28.656")

        .col.col-menu 
          ul.footer-list 
            li 
              a(href="#") Рекламодателям
            li 
              a(href="#") Правила размещения объявлений
            li 
              a(href="#") Пользовательское соглашение
            li 
              a(href="#") Карта сайта  

          ul.footer-list.footer-list--bold 
            li 
                a(href="#") Акции    
            li 
                a(href="#") Топливо     
            li 
                a(href="#") Реклама     
            li 
                a(href="#") Блог    
            li 
                a(href="#") Акции          

        .col 
          +btn-button
            | Добавить компанию      


  .main-footer__bottom 
    .container 
        .main-footer__bottom-inner 
          span.copy © 2023 Arbatop

          +txt-link('developer-btn') 
            | Разработка сайта 


          .main-footer__bottom-actions